{% extends 'fa-administrator/base.html' %}
{% load static %}

{% block title %}
    پنل مدیریت- شکایات
{% endblock %}
{% block stylesheets %}
    <link href="{% static "shared/plugins/jsgrid/jsgrid.min.css" %}" rel="stylesheet" />
    <link href="{% static "shared/plugins/jsgrid/jsgrid-theme.min.css" %}" rel="stylesheet" />
    <style>
        .jsgrid-cell {
            overflow: hidden;
        }
        .jsgrid-pager { text-align: center; }

        .containerimage img {
          position:absolute;
          top:0;
          bottom:0;
          margin: auto;
          width:100%;
          height:100%;
        }

        .containerimage {
          width:150px;
          height:100px;
          position:relative;
          overflow:hidden;


        }
       .progress.active .progress-bar {
            -webkit-transition: none !important;
            transition: none !important;
        }


    </style>
{% endblock %}
{% block contenheader %}
    <section class="content-header">
      <h1>
        پنل مدیریت
        <small>جزئیات</small>
      </h1>
      <ol class="breadcrumb">
        <li>
            <a href="/">
                <i class="fa fa-dashboard"></i>خانه
            </a>
        </li>
        <li><a href="/administrator/"> پیشخوان</a></li>
        <li class="active">شکایات</li>
      </ol>

    </section>
{% endblock %}


{% block content %}

    <div class="row">

       <div class="col-xs-12 col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">شکایات</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-success js-create-advertisement" id="addbtn">
                            <span class="glyphicon glyphicon-plus"></span>
                            تبلیغ جدید
                        </button>
                    </div>
                </div>
                <div class="box-body" style="height:80vh;">

                    <div id="jsGrid"></div>


                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="EditModal" tabindex="-1">
        <div class="modal-dialog modal-lg">

            <div class="modal-content">

            </div>

        </div>
    </div>


{% endblock %}
{% block scripts %}

    <script src="{% static "shared/plugins/slimScroll/jquery.slimscroll.min.js" %}"></script>
    <script src="{% static "shared/plugins/jsgrid/jsgrid.min.js" %}"></script>
    <script src="{% static "shared/plugins/notify/notify.js" %}"></script>
    <script src="{% static "shared/plugins/jqueryform/jquery.form.js" %}"></script>

    <script>
        //$(document).ready(function() {
          //   $("#successalert").hide();
        //});
    </script>
    <script>

        $(function () {


               $("#EditModal").on("submit", ".js-complaint-answer-quick-create-form", function (e) {
                    e.preventDefault();
                    var form = $(this);
                    var $bar = $('.progress-bar');
                    $(this).ajaxSubmit({
                       target:   '#targetLayer' ,
                       beforeSubmit: function() {
                           console.log("0");
                           $(".progress-bar").focus();
                           $(".progress-bar").css("width","0%");

                       },
                       uploadProgress: function (event, position, total, percentComplete){
                           $(".progress-bar").css("width",percentComplete+"%");
                           console.log(percentComplete);
                    },
                       complete:function (xhr) {

                           $("#modal-progress").modal("hide");
                           //console.log(xhr.responseText);
                           if(xhr.statusText == "OK"){
                                if (xhr.responseJSON.form_is_valid){
                                    $("#jsGrid").jsGrid("render");
                                    $("#EditModal").modal('hide');
                                    console.log("success");

                                    $("#successalertparagraph").text("ایجاد ایمیل پاسخ با موفقیت انجام شد");
                                    $("#successalert").show();
                                    setTimeout(function()
                                      {  //do something special
                                      }, 5000);
                                    $("#successalert").hide();
                            }
                            else {
                                $("#EditModal .modal-content").html(xhr.responseJSON.html_form);
                                console.log("form is not valid")
                            }
                           }
                        else {
                            console.log("FatalError")
                        }
                    },
                    error:function(){
                        alert('خطا در ارتباط با سرور. دوباره تلاش کنید');
                    },
                    resetForm: true
                });

                return false;

                });
    })

    </script>


    <script>
        var itemid=0;
        $(function() {
            $("#jsGrid").jsGrid({
                height: "100%",
                width: "100%",
                filtering: true,
                inserting: false,
                editing: false,
                sorting: true,
                paging: true,
                pageLoading: true,
                autoload: true,
                pageSize: 8,
                pageButtonCount: 5,
                noDataContent: "پیدا نشد",
                deleteConfirm: "آیا مطمئن هستید؟",
                pagerFormat: "صفحه: {first} {prev} {pages} {next} {last} &nbsp;&nbsp; {pageIndex} از {pageCount}",
                pagePrevText: "قبلی",
                pageNextText: "بعدی",
                pageFirstText: "ابتدا",
                pageLastText: "انتها",
                loadMessage: "لطفا  منتظر باشید ...",
                invalidMessage: "اطلاعات نامعتبر است!",
                deleteConfirm: "از حذف تبلیغ انتخاب شده اطمینان دارید؟",
                controller: {
                    loadData: function(filter) {
                        var d = $.Deferred();
                        var filter2=filter;
                        $.ajax({
                            type: "GET",
                            url: "/administrator/complaint/api",
                            data: filter2
                        }).done(function(result) {
                            var str=JSON.stringify(result);
                            console.log(str);
                            res=JSON.parse(str);
                            var feeds={
                                data: res.data,
                                itemsCount: res.itemsCount
                            };
                            d.resolve(feeds);
                        }
                        );
                        return d.promise();
                    },

                    deleteItem: function(item) {
                        return $.ajax({
                            type: "DELETE",
                            url: "/administrator/complaint/api/" + item.id
                        });
                    }
                },
                fields: [
                    { name: "Name",title:"نام", type: "text", width: "20%" },
                    { name: "Phonenumber",title:"تلفن", type: "text", width: "12%" },
                    { name: "Email",title:"ایمیل", type: "text", width: "20%" },

                    { name: "edit",sorting:false, title: "متن", align: "center",width:"12%",sorting:false,
                	    itemTemplate: function(value, item) {
              	        return $("<input value='متن شکایت' style='width: 90px;'>")
                		.on("click", function() {
                            itemid=item.id;
               		        console.log(itemid)

                            $("#EditModal .modal-content").html("");
                            $("#EditModal").modal("show");
                            $.ajax({
                                url:'/fa/administrator/text/complaint/'+itemid+'/',
                                type:'get',
                                dataType:'json',
                                beforeSend:function () {
                                    $("#EditModal").modal("show");

                                },
                                success:function (data) {
                                    $("#EditModal .modal-content").html(data.html_form);
                                }
                            });

                            return false;
                		});
                    }
                    },
                    <!--{ name: "Text",title:"متن", type: "text", width: "50%" },-->
                    { name: "Date",title:"تاریخ", type: "text", width: "12%" },

                    {name: "Answered",title:"پاسخ داده شده", type: "checkbox", width: "5%",
                        itemTemplate: function(value, item) {
                            var b=false;
                            if(item.Answered==true)
                                b=true

                            return $("<input>").attr("type", "checkbox")
                		            .attr("checked", b)
                                .on("change", function() {
                    	            item.Answered = $(this).is(":checked");
                                });
                    }
                    },
                    { name: "setprice",sorting:false, title: "پاسخ سریع", align: "center",width:"12%",sorting:false,
                	    itemTemplate: function(value, item) {
              	        return $("<input value='ارسال پاسخ' style='width: 90px;'>")
                		.on("click", function() {
                            itemid=item.id;
               		        console.log(itemid)

                            $("#EditModal .modal-content").html("");
                            $("#EditModal").modal("show");
                            $.ajax({
                                url:'/fa/administrator/complaint/quick/answer/'+itemid+'/',
                                type:'get',
                                dataType:'json',
                                beforeSend:function () {
                                    $("#EditModal").modal("show");

                                },
                                success:function (data) {
                                    $("#EditModal .modal-content").html(data.html_form);
                                }
                            });

                            return false;
                		});
                    }
                    },
                    {name:"quickedit",sorting:false,title:"ویرایش سریع",width:"5%",
                itemTemplate: function(_, item) {
                    return $('<span class="glyphicon glyphicon-edit"></span>').css("width","3%")
                    	.on("click", function() {
                        	return $.ajax({
                            type: "PUT",
                            url: "/administrator/complaint/api/" + item.id,
                            data: item,
                            success:function (data) {
                                console.log("success1 update");
                                alert("تغییرات با موفقیت اعمال گردید");
                            }

                        });


                    	});
              	}
                    },
                    { type: "control",width:"5%",title:"حذف",sorting:false,
                      itemTemplate: function(value, item) {
                         var $result = $([]);
                         $result = $result.add(this._createDeleteButton(item));
                         return $result;
                      }
                    }
                ],


            });

        });





    </script>

{% endblock %}
