{% load static %}
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td class="text-right">نام کاربری</td>
                <td class="text-right">نام کامل</td>
                <td class="text-right">ایمیل</td>
                <td class="text-right">شماره تلفن</td>
                <td class="text-right">کد ملی</td>
                <td class="text-right">آدرس</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-right">{{car_owner.username}}</td>
                <td class="text-right">{{car_owner.profile.profile_fullname}}</td>
                <td class="text-right">{{car_owner.profile.email1}}</td>
                <td class="text-right">{{car_owner.profile.phonenumber}}</td>
                <td class="text-right">{{car_owner.profile.profile_nid}}</td>
                <td class="text-right">{{car_owner.profile.profile_address}}</td>
            </tr>
        </tbody>
    </table>
</div>
