{% load crispy_forms_tags %}
{% load static %}
<form method="post" enctype="multipart/form-data" action="{% url 'car_price_quick_create' pk %}"  class="js-car-price-quick-create-form">

    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">ایجاد قیمت ماشین جدید</h4>

  </div>
    <div class="modal-body">


        <div class="row">
            <div class="col-xs-12 col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">فرم ورود داده های قیمت جدید ماشین</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>

                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div>
                                {% include 'fa-administrator/fa-cars/includes/partial_car_form.html' %}
                            </div>
                            <div class="col-xs-12 col-sm-12 progress-container">
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-success" style="width:0%">

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>

        </div>
        </div>

</form>
<style>
    .calendar{
    z-index: 1151 !important ;
    }
</style>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="{% static 'fa/static/select2-4.0.3/dist/js/select2.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'fa/static/JalaliJSCalendar-1.4/skins/aqua/theme.css' %}">
<script src="{% static 'fa/static/JalaliJSCalendar-1.4/jalali.js' %}"></script>
<script src="{% static 'fa/static/JalaliJSCalendar-1.4/calendar.js' %}"></script>
<script src="{% static 'fa/static/JalaliJSCalendar-1.4/calendar-setup.js' %}"></script>
<script src="{% static 'fa/static/JalaliJSCalendar-1.4/lang/calendar-fa.js' %}"></script>
<script src="{% static 'shared/plugins/ckeditor/ckeditor.js' %}"></script>
<script>
Calendar.setup({
    inputField: 'id_car_price_start_date',
    ifFormat: '%Y-%m-%d',
    dateType: 'jalali'
});
Calendar.setup({
    inputField: 'id_car_price_end_date',
    ifFormat: '%Y-%m-%d',
    dateType: 'jalali'
});
</script>
<script>

        $(function () {
            $('#id_car').select2({
                placeholder: 'شروع به تایپ حروف عنوان ماشین کنید...',
                dir:"RTL",
                ajax: {
                url: function (params) {

                return '/api/get_cars/' + params.term;
            },
            dataType: 'json',
            delay: 250,
            processResults: function (data) {
                return {
                    results: data
                };
            },
            cache: true
            }
            });




        })
    </script>
