{% load static %}
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td class="text-right">نوع سفارش</td>
                <td class="text-right">عنوان سفارش</td>
                <td class="text-right">تاریخ سفارش</td>
                <td class="text-right">از تاریخ</td>
                <td class="text-right">تا تاریخ</td>
                <td class="text-right">قیمت واحد</td>
                <td class="text-right"> تعداد</td>
                <td class="text-right"> روز</td>
                <td class="text-right">مجموع</td>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td class="text-right"><a href="#">{{item.order_type}}</a> </td>
                <td class="text-right">{{item.order_title}}</td>
                <td class="text-right">{{item.ordered_date|date:'H:i:s-- Y/m/d'}}</td>
                <td class="text-right">{{item.order_start_date}}</td>
                <td class="text-right">{{item.order_end_date}}</td>
                <td class="text-right">{{item.order_price}}</td>
                <td class="text-right">{{item.ordered_num}}</td>
                <td class="text-right">{{item.ordered_days}}</td>
                <td class="text-right">{{item.order_total_price}}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8" class="text-right"><strong>مجموع کل</strong>
                </td>
                <td class="text-right"><strong>{{shoppingbag.bag_total_price}}</strong></td>
            </tr>
        </tfoot>
    </table>
</div>
