{% load static %}
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td class="text-left">کد ملی</td>
                <td class="text-left">شماره تلفن</td>
                <td class="text-left">بانک</td>
                <td class="text-left">شعبه</td>
                <td class="text-left">شماره حساب</td>
                <td class="text-left">شبا</td>
                <td class="text-left">شماره کارت</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-left">{{profile.profile_nid}}</td>
                <td class="text-left">{{profile.phonenumber}}</td>
                <td class="text-left">{{profile.profile_bank}}</td>
                <td class="text-left">{{profile.profile_bank_branch}}</td>
                <td class="text-left">{{profile.profile_account_num}}</td>
                <td class="text-left">{{profile.profile_shaba}}</td>
                <td class="text-left">{{profile.profile_card_num}}</td>
            </tr>
        </tbody>
    </table>
</div>
