{% extends 'fa-administrator/base.html' %}
{% load static %}

{% block title %}
    پنل مدیریت- بخش تراکنش های خارجی
{% endblock %}
{% block stylesheets %}
    <link href="{% static "shared/plugins/jsgrid/jsgrid.min.css" %}" rel="stylesheet" />
    <link href="{% static "shared/plugins/jsgrid/jsgrid-theme.min.css" %}" rel="stylesheet" />

    <style>
        .jsgrid-cell {
            overflow: hidden;
        }
        .jsgrid-pager { text-align: center; }

        .containerimage img {
          position:absolute;
          top:0;
          bottom:0;
          margin: auto;
          width:100%;
          height:100%;
        }

        .containerimage {
          width:150px;
          height:100px;
          position:relative;
          overflow:hidden;


        }
       .progress.active .progress-bar {
            -webkit-transition: none !important;
            transition: none !important;
        }


    </style>
{% endblock %}
{% block contenheader %}
    <section class="content-header">
      <h1>
        پنل مدیریت
        <small>جزئیات</small>
      </h1>
      <ol class="breadcrumb">
                <li>
            <a href="/">
                <i class="fa fa-dashboard"></i>خانه
            </a>
        </li>
        <li><a href="/administrator/"> پیشخوان</a></li>
        <li class="active">تراکنش های خارجی مرجوعی</li>

      </ol>

    </section>
{% endblock %}
{% block content %}

    <div class="row">

       <div class="col-xs-12 col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">تراکنش های خارجی مرجوعی</h3>
                </div>
                <div class="box-body" style="height:80vh;">

                    <div id="jsGrid"></div>


                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="EditModal" >
        <div class="modal-dialog modal-lg">

            <div class="modal-content">

            </div>

        </div>
    </div>


{% endblock %}
{% block scripts %}
<script src="http://malsup.github.com/jquery.form.js"></script>
<script>$.fn.modal.Constructor.prototype.enforceFocus = function() {};</script>
    <script src="{% static "shared/plugins/slimScroll/jquery.slimscroll.min.js" %}"></script>
    <script src="{% static "shared/plugins/jsgrid/jsgrid.min.js" %}"></script>
    <script src="{% static "shared/plugins/notify/notify.js" %}"></script>

    <script>
        var itemid=0;
        $(function() {
            $("#jsGrid").jsGrid({
                height: "100%",
                width: "100%",
                filtering: true,
                inserting: false,
                editing: false,
                sorting: true,
                paging: true,
                pageLoading: true,
                autoload: true,
                pageSize: 8,
                pageButtonCount: 5,
                noDataContent: "پیدا نشد",
                pagerFormat: "صفحه: {first} {prev} {pages} {next} {last} &nbsp;&nbsp; {pageIndex} از {pageCount}",
                pagePrevText: "قبلی",
                pageNextText: "بعدی",
                pageFirstText: "ابتدا",
                pageLastText: "انتها",
                loadMessage: "لطفا  منتظر باشید ...",
                invalidMessage: "اطلاعات نامعتبر است!",
                controller: {
                    loadData: function(filter) {
                        var d = $.Deferred();
                        var filter2=filter;
                        $.ajax({
                            type: "GET",
                            url: "/administrator/transaction_out_returned/api",
                            data: filter2
                        }).done(function(result) {
                            var str=JSON.stringify(result);
                            console.log(str);
                            res=JSON.parse(str);
                            var feeds={
                                data: res.data,
                                itemsCount: res.itemsCount
                            };
                            d.resolve(feeds);
                        }
                        );
                        return d.promise();
                    },
                },
                fields: [
                    {name:"Owner",title:"کاربر", type: "text", width: "6%"},
                    {name: "TotalPrice",title:"قیمت(دلار)", type: "text", width: "9%" },
                    {name: "CommitedDate",title:"تاریخ تراکنش", type: "text", width: "10%" },
                    {name: "TrackingCode",title:"کد رهگیری", type: "text", width: "15%" },
                    {name: "edit",sorting:false, title: "آیتم های خریداری شده", align: "center",width:"10%",sorting:false,
                	    itemTemplate: function(value, item) {
              	        return $("<input value='لیست آیتم ها'>")
                		.on("click", function() {
                            itemid=item.id;
               		        console.log(itemid)

                            $("#EditModal .modal-content").html("");
                            $("#EditModal").modal("show");
                            $.ajax({
                                url:'/administrator/transactions/items/'+itemid+'/',
                                type:'get',
                                dataType:'json',
                                beforeSend:function () {
                                    $("#EditModal").modal("show");

                                },
                                success:function (data) {
                                    $("#EditModal .modal-content").html(data.html_form);
                                }
                            });

                            return false;
                		});
                    }
                    },
                    { name: "setprice",sorting:false, title: "وضعیت مرجوعی", align: "center",width:"12%",sorting:false,
                	    itemTemplate: function(value, item) {
              	        return $("<input value='تعیین وضعیت مرجوعی' style='width: 150px;'>")
                		.on("click", function() {
                            itemid=item.id;
               		        console.log(itemid)

                            $("#EditModal .modal-content").html("");
                            $("#EditModal").modal("show");
                            $.ajax({
                                url:'/administrator/transaction/out_money_return/'+itemid+'/',
                                type:'get',
                                dataType:'json',
                                beforeSend:function () {
                                    $("#EditModal").modal("show");

                                },
                                success:function (data) {
                                    $("#EditModal .modal-content").html(data.html_form);
                                }
                            });
                		});
                    }
                    },
                ],


            });

        });
    </script>
<script>

               $("#EditModal").on("submit", ".js-out-money-return-form", function (e) {
                    e.preventDefault();
                    var form = $(this);
                    var $bar = $('.progress-bar');
                    $(this).ajaxSubmit({
                       target:   '#targetLayer' ,
                       beforeSubmit: function() {
                           console.log("0");
                           $(".progress-bar").focus();
                           $(".progress-bar").css("width","0%");

                       },
                       uploadProgress: function (event, position, total, percentComplete){
                           $(".progress-bar").css("width",percentComplete+"%");
                           console.log(percentComplete);
                    },
                       complete:function (xhr) {

                           $("#modal-progress").modal("hide");
                           //console.log(xhr.responseText);
                           if(xhr.statusText == "OK"){
                                if (xhr.responseJSON.form_is_valid){
                                    $("#jsGrid").jsGrid("render");
                                    $("#EditModal").modal('hide');
                                    console.log("success");

                                    $("#successalertparagraph").text("ایجاد فرم تراکنش برگشتی جدید با موفقیت انجام شد");
                                    $("#successalert").show();
                                    setTimeout(function()
                                      {  //do something special
                                      }, 5000);
                                    $("#successalert").hide();
                            }
                            else {
                                $("#EditModal .modal-content").html(xhr.responseJSON.html_form);
                                console.log("form is not valid")
                            }
                           }
                        else {
                            console.log("FatalError")
                        }
                    },
                    error:function(){
                        alert('خطا در ارتباط با سرور. دوباره تلاش کنید');
                    },
                    resetForm: true
                });

                return false;

                });
</script>
{% endblock %}
