{% extends 'fa-administrator/base.html' %}
{% load static %}

{% block title %}
    پنل مدیریت- بخش تراکنش ها
{% endblock %}
{% block stylesheets %}
    <link href="{% static "shared/plugins/jsgrid/jsgrid.min.css" %}" rel="stylesheet" />
    <link href="{% static "shared/plugins/jsgrid/jsgrid-theme.min.css" %}" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />

    <style>
        .jsgrid-cell {
            overflow: hidden;
        }
        .jsgrid-pager { text-align: center; }

        .containerimage img {
          position:absolute;
          top:0;
          bottom:0;
          margin: auto;
          width:100%;
          height:100%;
        }

        .containerimage {
          width:150px;
          height:100px;
          position:relative;
          overflow:hidden;


        }
       .progress.active .progress-bar {
            -webkit-transition: none !important;
            transition: none !important;
        }


    </style>
{% endblock %}
{% block contenheader %}
    <section class="content-header">
      <h1>
        پنل مدیریت
        <small>جزئیات</small>
      </h1>
      <ol class="breadcrumb">
                <li>
            <a href="/">
                <i class="fa fa-dashboard"></i>خانه
            </a>
        </li>
        <li><a href="/administrator/"> پیشخوان</a></li>
        <li class="active">تراکنش ها</li>

      </ol>

    </section>
{% endblock %}
{% block content %}

    <div class="row">

       <div class="col-xs-12 col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">تراکنش ها</h3>
                </div>
                <div class="box-body" style="height:80vh;">

                    <div id="jsGrid"></div>


                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="EditModal" >
        <div class="modal-dialog modal-lg">

            <div class="modal-content">

            </div>

        </div>
    </div>


{% endblock %}
{% block scripts %}
<script>$.fn.modal.Constructor.prototype.enforceFocus = function() {};</script>
    <script src="{% static "shared/plugins/slimScroll/jquery.slimscroll.min.js" %}"></script>
    <script src="{% static "shared/plugins/jsgrid/jsgrid.min.js" %}"></script>
    <script src="{% static "shared/plugins/notify/notify.js" %}"></script>
    <script>
        var itemid=0;
        $(function() {
            $("#jsGrid").jsGrid({
                height: "100%",
                width: "100%",
                filtering: true,
                inserting: false,
                editing: false,
                sorting: true,
                paging: true,
                pageLoading: true,
                autoload: true,
                pageSize: 8,
                pageButtonCount: 5,
                noDataContent: "پیدا نشد",
                deleteConfirm: "آیا مطمئن هستید؟",
                pagerFormat: "صفحه: {first} {prev} {pages} {next} {last} &nbsp;&nbsp; {pageIndex} از {pageCount}",
                pagePrevText: "قبلی",
                pageNextText: "بعدی",
                pageFirstText: "ابتدا",
                pageLastText: "انتها",
                loadMessage: "لطفا  منتظر باشید ...",
                invalidMessage: "اطلاعات نامعتبر است!",
                controller: {
                    loadData: function(filter) {
                        var d = $.Deferred();
                        var filter2=filter;
                        $.ajax({
                            type: "GET",
                            url: "/administrator/transaction_all/api",
                            data: filter2
                        }).done(function(result) {
                            var str=JSON.stringify(result);
                            console.log(str);
                            res=JSON.parse(str);
                            var feeds={
                                data: res.data,
                                itemsCount: res.itemsCount
                            };
                            d.resolve(feeds);
                        }
                        );
                        return d.promise();
                    },
                },
                fields: [
                    {name:"Owner",title:"کاربر", type: "text", width: "10%"},
                    {name: "TotalPrice",title:"قیمت", type: "text", width: "10%" },
                    {name: "CommitedDate",title:"تاریخ تراکنش", type: "text", width: "10%" },
                    {name: "TrackingCode",title:"کد رهگیری", type: "text", width: "15%" },
                    { name: "edit",sorting:false, title: "آیتم های خریداری شده", align: "center",width:"10%",sorting:false,
                	    itemTemplate: function(value, item) {
              	        return $("<input value='لیست آیتم ها'>")
                		.on("click", function() {
                            itemid=item.id;
               		        console.log(itemid)

                            $("#EditModal .modal-content").html("");
                            $("#EditModal").modal("show");
                            $.ajax({
                                url:'/administrator/transactions/items/'+itemid+'/',
                                type:'get',
                                dataType:'json',
                                beforeSend:function () {
                                    $("#EditModal").modal("show");

                                },
                                success:function (data) {
                                    $("#EditModal .modal-content").html(data.html_form);
                                }
                            });

                            return false;
                		});
                    }
                    },
                ],


            });

        });





    </script>

{% endblock %}
