<form method="post" action="{% url 'location_delete' location.id %}" class="js-location-delete-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">تائید حذف تور انتخاب شده</h4>
  </div>
  <div class="modal-body">
    <p class="lead">آیا مکان انتخاب شده حذف گردد؟ پس از حذف جزئیات آن قابل بازیابی نیست <strong>{{ book.title }}</strong>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
    <button type="submit" class="btn btn-danger">حذف مکان</button>
  </div>
</form>
