{% extends 'fa-administrator/base.html' %}
{% load static %}

{% block title %}
    پنل مدیریت- رزروهای اجاره ها
{% endblock %}
{% block stylesheets %}
    <link href="{% static "shared/plugins/jsgrid/jsgrid.min.css" %}" rel="stylesheet" />
    <link href="{% static "shared/plugins/jsgrid/jsgrid-theme.min.css" %}" rel="stylesheet" />
    <style>
        .jsgrid-cell {
            overflow: hidden;
        }
        .jsgrid-pager { text-align: center; }

        .containerimage img {
          position:absolute;
          top:0;
          bottom:0;
          margin: auto;
          width:100%;
          height:100%;
        }

        .containerimage {
          width:150px;
          height:100px;
          position:relative;
          overflow:hidden;


        }
       .progress.active .progress-bar {
            -webkit-transition: none !important;
            transition: none !important;
        }


    </style>
{% endblock %}
{% block contenheader %}
    <section class="content-header">
      <h1>
        پنل مدیریت
        <small>جزئیات</small>
      </h1>
      <ol class="breadcrumb">
        <li>
            <a href="/">
                <i class="fa fa-dashboard"></i>خانه
            </a>
        </li>
        <li><a href="/administrator/"> پیشخوان</a></li>
        <li><a href="/administrator/rental">اجاره ها</a></li>
        <li class="active">رزروها</li>
      </ol>

    </section>
{% endblock %}
{% block content %}

    <div class="row">

       <div class="col-xs-12 col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title" id="rental_id" name="{{rental_id}}">لیست رزروهای محل اجاره ای</h3>
                </div>
                <div class="box-body" style="height:80vh;">

                    <div id="jsGrid"></div>


                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="EditModal" >
        <div class="modal-dialog modal-lg">

            <div class="modal-content">

            </div>

        </div>
    </div>
{% endblock %}
{% block scripts %}
<script>$.fn.modal.Constructor.prototype.enforceFocus = function() {};</script>
    <script src="{% static "shared/plugins/slimScroll/jquery.slimscroll.min.js" %}"></script>
    <script src="{% static "shared/plugins/jsgrid/jsgrid.min.js" %}"></script>
    <script src="{% static "shared/plugins/notify/notify.js" %}"></script>
    <script src="{% static "shared/plugins/jqueryform/jquery.form.js" %}"></script>


    <script>
        var itemid=0;
        var rental_id = $("#rental_id").attr("name");
        $(function() {
            $("#jsGrid").jsGrid({
                height: "100%",
                width: "100%",
                filtering: true,
                inserting: false,
                editing: false,
                sorting: false,
                paging: true,
                pageLoading: true,
                autoload: true,
                pageSize: 8,
                pageButtonCount: 5,
                noDataContent: "پیدا نشد",
                deleteConfirm: "آیا مطمئن هستید؟",
                pagerFormat: "صفحه: {first} {prev} {pages} {next} {last} &nbsp;&nbsp; {pageIndex} از {pageCount}",
                pagePrevText: "قبلی",
                pageNextText: "بعدی",
                pageFirstText: "ابتدا",
                pageLastText: "انتها",
                loadMessage: "لطفا  منتظر باشید ...",
                invalidMessage: "اطلاعات نامعتبر است!",
                controller: {
                    loadData: function(filter) {
                        var d = $.Deferred();
                        var filter2=filter;
                        $.ajax({
                            type: "GET",
                            url: "/administrator/specific/rental/reserved/api/" + rental_id + "/",
                            data: filter2
                        }).done(function(result) {
                            var str=JSON.stringify(result);
                            console.log(str);
                            res=JSON.parse(str);
                            var feeds={
                                data: res.data,
                                itemsCount: res.itemsCount
                            };
                            d.resolve(feeds);
                        }
                        );
                        return d.promise();
                    },
                },
                fields: [
                    {name: "Title",title:"عنوان", type: "text", width: "15%" },
                    {name: "Phonenumber",title:"شماره تلفن اجاره کننده", type: "text", width: "10%" },
                    {name: "Address",title:"آدرس", type: "text", width: "20%" },

                    {name:"DateFa",title:"تاریخ رزرو", type: "text", width: "10%"},
                    {name:"StartDate",title:"از تاریخ", type: "text", width: "10%"},
                    {name:"EndDate",title:"تا تاریخ", type: "text", width: "10%"},
                    {name: "Price",title:" قیمت واحد", type: "text", width: "10%" },
                    {name: "Number",title:"تعداد", type: "text", width: "5%" },
                    {name: "TotalPrice",title:"قیمت کل", type: "text", width: "10%" },
                ],


            });

        });
    </script>
{% endblock %}
