{% load static %}
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            {% if request.user.is_authenticated %}
            <div class="pull-right image">
              <img src="/media/profile.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p>
              {{ request.user.username }}
              </p>
              <a href="#"><i class="fa fa-circle text-success"></i> آنلاین</a>
            </div>
            {% endif %}
          </div>
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">ناوبری اصلی</li>
            <li class="active treeview">
              <a href="#">
                <i class="fa fa-dashboard"></i> <span>پست ها</span> <i class="fa fa-angle-left pull-left"></i>
              </a>
              <ul class="treeview-menu">
                <li class="active"><a href="/administrator/post"><i class="fa fa-circle-o"></i> همه پست ها</a></li>
                <!--<li><a href="/administrator/comment"><i class="fa fa-circle-o"></i> نظرات </a></li>-->
              </ul>
            </li>
            <!--<li class="active treeview">-->
              <!--<a href="#">-->
                <!--<i class="fa fa-dashboard"></i> <span>اجاره ها</span> <i class="fa fa-angle-left pull-left"></i>-->
              <!--</a>-->
              <!--<ul class="treeview-menu">-->
                <!--<li><a href="/administrator/rental"><i class="fa fa-circle-o"></i> همه اجاره ها</a></li>-->
                <!--<li><a href="/administrator/rental/price/"><i class="fa fa-circle-o"></i> قیمت ها</a></li>-->
                <!--<li><a href="/administrator/rental/review"><i class="fa fa-circle-o"></i> نظرات </a></li>-->
              <!--</ul>-->
            <!--</li>-->
            <li class="active treeview">
              <a href="#">
                <i class="fa fa-dashboard"></i> <span>دسته بندی ها</span> <i class="fa fa-angle-left pull-left"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="/administrator/carpet_categories"><i class="fa fa-circle-o"></i>دسته بندی فرش ها</a></li>
                <li><a href="/administrator/carpet_categories"><i class="fa fa-circle-o"></i>دسته بندی تابلو فرش ها</a></li>
              </ul>
            </li>
            <!--<li class="active treeview">-->
              <!--<a href="#">-->
                <!--<i class="fa fa-dashboard"></i> <span>هتل ها</span> <i class="fa fa-angle-left pull-left"></i>-->
              <!--</a>-->
              <!--<ul class="treeview-menu">-->
                <!--<li><a href="/administrator/hotel"><i class="fa fa-circle-o"></i> همه هتل ها</a></li>-->
                <!--<li><a href="/administrator/room/"><i class="fa fa-circle-o"></i> اتاق ها</a></li>-->
                <!--<li><a href="/administrator/room/price/"><i class="fa fa-circle-o"></i> قیمت اتاق ها</a></li>-->
                <!--<li><a href="/administrator/hotel/review"><i class="fa fa-circle-o"></i> نظرات هتل ها</a></li>-->
                <!--<li><a href="/administrator/room/review"><i class="fa fa-circle-o"></i> نظرات اتاق ها</a></li>-->
              <!--</ul>-->
            <!--</li>-->
            <li class="active treeview">
              <a href="#">
                <i class="fa fa-dashboard"></i> <span>محصولات</span> <i class="fa fa-angle-left pull-left"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="/administrator/carpets"><i class="fa fa-circle-o"></i>فرش ها</a></li>
                <li><a href="/administrator/product/review"><i class="fa fa-circle-o"></i>تابلو فرش ها</a></li>
              </ul>
            </li>
            <!--<li class="active treeview">-->
              <!--<a href="#">-->
                <!--<i class="fa fa-dashboard"></i> <span>ماشین ها</span> <i class="fa fa-angle-left pull-left"></i>-->
              <!--</a>-->
              <!--<ul class="treeview-menu">-->
                <!--<li><a href="/administrator/car"><i class="fa fa-circle-o"></i> همه ماشین ها </a></li>-->
                <!--<li><a href="/administrator/car/price"><i class="fa fa-circle-o"></i> قیمت ها </a></li>-->
                <!--<li><a href="/administrator/car/review"><i class="fa fa-circle-o"></i> نظرات </a></li>-->
              <!--</ul>-->
            <!--</li>-->
            <li class="active treeview">
              <a href="#">
                <i class="fa fa-dashboard"></i> <span>پیام ها</span> <i class="fa fa-angle-left pull-left"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="/administrator/complaints"><i class="fa fa-circle-o"></i>شکایات </a></li>
                <li><a href="/administrator/contact"><i class="fa fa-circle-o"></i> ارتباط با ما</a></li>
              </ul>
            </li>
            <li class="active treeview">
              <a href="#">
                <i class="fa fa-dashboard"></i> <span>مدیریت کاربران</span> <i class="fa fa-angle-left pull-left"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="/administrator/user"><i class="fa fa-circle-o"></i> همه کاربران </a></li>
                <!--<li><a href="/administrator/group"><i class="fa fa-circle-o"></i> همه گروه ها </a></li>-->
              </ul>
            </li>
            <!--{% if partner == 'False' %}-->
            <!--<li><a href="/administrator/advertisement/"><i class="fa fa-book"></i> <span>تبلیغات</span></a></li>-->
            <!--{% endif %}-->
            <!--<li><a href="/administrator/locatFion/"><i class="fa fa-book"></i> <span>مکان ها</span></a></li>-->
            <!--<li class="active treeview">-->
              <!--<a href="#">-->
                <!--<i class="fa fa-dashboard"></i> <span>مدیریت کاربران</span> <i class="fa fa-angle-left pull-left"></i>-->
              <!--</a>-->
              <!--<ul class="treeview-menu">-->
                <!--<li><a href="/administrator/message_latest/"><i class="fa fa-circle-o"></i> آخرین پیام ها </a></li>-->
                <!--<li><a href="/administrator/message_archive/"><i class="fa fa-circle-o"></i> پیام های آرشیو </a></li>-->
              <!--</ul>-->
            <!--</li>-->
            <!--<li><a href="/administrator/tour/"><i class="fa fa-book"></i> <span>تورها</span></a></li>-->
            <!--<li><a href="/administrator/restaurant/"><i class="fa fa-book"></i> <span>رستوران ها</span></a></li>-->
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>
