@font-face {
  font-family: 'persian';
  src: url('fonts/persian/BYekan.eot?#') format('eot'),
       url('fonts/persian/BYekan.woff') format('woff'),
       url('fonts/persian/BYekan.ttf') format('truetype');
  font-style:normal;
  font-weight:normal;
}


@font-face {
  font-family: 'latin';
  src: url('fonts/latin/Yekan.eot?#') format('eot'),
       url('fonts/latin/Yekan.woff') format('woff'),
       url('fonts/latin/Yekan.ttf') format('truetype');
  font-style:normal;
  font-weight:normal;
}

@font-face {
  font-family: 'vazir';
  src: url('fonts/vazir/eo?#') format('eot'),
       url('fonts/vazir/woff.woff') format('woff'),
       url('fonts/vazir/ttf.ttf') format('truetype');
  font-style:normal;
  font-weight:normal;
}