{% load crispy_forms_tags %}
{% load static %}
<form method="post" enctype="multipart/form-data" action="/administrator/carpet_category/create/" class="js-carpet-category-create-form">

    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">ایجاد دسته جدید</h4>

  </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-xs-12 col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">فرم ورود داده های دسته بندی جدید</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>

                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div>
                                {% include 'fa-administrator/fa-carpet-categories/includes/partial_carpet_category_form.html' %}
                            </div>
                            <div class="col-xs-12 col-sm-12 progress-container">
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-success" style="width:0%">

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>

        </div>
        </div>

</form>

<script src="{% static 'fa/static/select2-4.0.3/dist/js/select2.min.js' %}"></script>
<script src="{% static 'shared/plugins/ckeditor/ckeditor.js' %}"></script>
<script>

        $(function () {
            $('#id_category_parent').select2({
                placeholder: 'شروع به تایپ حروف منطقه کنید...',
                dir:"RTL",
                ajax: {
                url: function (params) {

                return '/api/get_carpet_categories/' + params.term;
            },
            dataType: 'json',
            delay: 250,
            processResults: function (data) {
                return {
                    results: data
                };
            },
            cache: true
            }
            });




        })
    </script>
