{% extends 'fa-administrator/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

<div style="margin-top:5px;" class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">ورود به حساب کاربری</h3>
            </div>
<div class="container">

<div class="row" style="margin-top:20px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
		<!--<form role="form">-->
			<fieldset>
				<h3 class="box-title">لطفا اطلاعات ورود را وارد کنید.</h3>
				<hr class="colorgraph">
				<!--<div class="form-group">-->
                 <h2>Login</h2>
      {% load widget_tweaks %}
      <form method="post">
          {% csrf_token %}
      {% for field in form %}
      <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% render_field field class="form-control" %}
        {% for error in field.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    {% endfor %}
      <div class="form-group">
          <button type="submit" class="btn btn-primary">ورود</button>
    </div>
                </form>

                 <hr class="colorgraph">
                <div class="row">
						<a href="/register/" class="btn btn-lg btn-primary btn-block">ثبت نام</a>
					</div>


			</fieldset>
		<!--</form>-->
	</div>
</div>
</div>
</div>

</div>
<div class="modal-footer">



</div>
</div>

{% endblock %}


    {% block javascript%}

    
        {% endblock %}
