{% load static %}
<form method="post" enctype="multipart/form-data" action="{% url 'advertisement_update' form.instance.pk %}" class="js-advertisement-update-form">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">به روز رسانی داده های تبلیغ</h4>
  </div>
  <div class="modal-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">فرم تبلیغ</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>

                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div>
                                {% include 'fa-administrator/fa-advertisements/includes/partial_advertisement_form.html' %}
                            </div>
                            <div class="col-xs-12 col-sm-12 progress-container">
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-success" style="width:0%">

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>

        </div>
        </div>

  </div>

</form>

<script src="{% static 'shared/plugins/ckeditor/ckeditor.js' %}"></script>
<script>
     $(function () {
        CKEDITOR.replace('id_advertisement_text', {
            toolbar: 'Default'
        });
        CKEDITOR.config.language='fa';
    });
     $(function () {
        CKEDITOR.replace('id_advertisement_text_en', {
            toolbar: 'Default'
        });
        CKEDITOR.config.language='fa';
    });

</script>

<style>
    .calendar{
    z-index: 1151 !important ;
    }
</style>
<link rel="stylesheet" href="{% static 'fa/static/JalaliJSCalendar-1.4/skins/aqua/theme.css' %}">
<script src="{% static 'fa/static/JalaliJSCalendar-1.4/jalali.js' %}"></script>
<script src="{% static 'fa/static/JalaliJSCalendar-1.4/calendar.js' %}"></script>
<script src="{% static 'fa/static/JalaliJSCalendar-1.4/calendar-setup.js' %}"></script>
<script src="{% static 'fa/static/JalaliJSCalendar-1.4/lang/calendar-fa.js' %}"></script>
<script>
Calendar.setup({
    inputField: 'id_advertisement_start_date',
    ifFormat: '%Y-%m-%d',
    dateType: 'jalali'
});
Calendar.setup({
    inputField: 'id_advertisement_end_date',
    ifFormat: '%Y-%m-%d',
    dateType: 'jalali'
});
</script>
