
{% extends "base.html" %} {% load staticfiles %} {% block content %} {% include "header.html" %}
 {% block link %}
        <link rel="stylesheet" href="{% static 'about_us.css' %}" />

     {% endblock %} 
<section>

     <div class="ui grid">
          <div class="fifteen wide column uk-margin-medium-left" >
               <header class="header">
               <div class="uk-container">
                    <div class="uk-margin-top">
                         <h2 class="uk-heading-line uk-text-center" style="font-family:vazir;text-align: center;color: white"><span>درباره شهر فرش</span></h2>
                    </div>
                    <div class="uk-container uk-margin-medium-top" style="direction:rtl;color:white;font-family:vazir;font-size: 1.3em;line-height: 2.5">
                         شما مشتریان عزیز در زمان مراجعه به فروشگاه‌های شهر فرش، با همراه داشتن عکس منزل خود می‌توانید فرش‌های مختلف را در
                         خانه
                         خود ببینید.
                         در این صورت در انتخاب فرش متناسب با فضای منزلتان انتخاب راحت‌تر و بهتری خواهید داشت. فقط کافی است از چند زاویه
                         مختلف از
                         در این صورت در انتخاب فرش متناسب با فضای منزلتان انتخاب راحت‌تر و بهتری خواهید داشت. فقط کافی است.
                     </div>
                    <div class="ui grid uk-margin-top">
                         <div class="one wide column"></div>
                         <div class="fourteen wide column">
                              <img  src="{% static 'img/about_us.jpg' %}">
                         </div>
                         <div class="one wide column"></div>
                         
                    </div>
                    <div class="uk-container uk-margin-medium-top" style="direction:rtl;color:white;font-family:vazir;font-size: 1.3em;line-height: 2.5">
                         شما مشتریان عزیز در زمان مراجعه به فروشگاه‌های شهر فرش، با همراه داشتن عکس منزل خود می‌توانید فرش‌های مختلف را در
                         خانه
                         خود ببینید.
                         در این صورت در انتخاب فرش متناسب با فضای منزلتان انتخاب راحت‌تر و بهتری خواهید داشت. فقط کافی است از چند زاویه
                         مختلف از
                         در این صورت در انتخاب فرش متناسب با فضای منزلتان انتخاب راحت‌تر و بهتری خواهید داشت. فقط کافی است.
                    </div>
                    <div class="uk-container uk-margin-medium-top" style="direction:rtl;color:white;font-family:vazir;font-size: 1.3em;line-height: 2.5">
                         شما مشتریان عزیز در زمان مراجعه به فروشگاه‌های شهر فرش، با همراه داشتن عکس منزل خود می‌توانید فرش‌های مختلف را در
                         خانه
                         خود ببینید.
                         در این صورت در انتخاب فرش متناسب با فضای منزلتان انتخاب راحت‌تر و بهتری خواهید داشت. فقط کافی است از چند زاویه
                         مختلف از
                         در این صورت در انتخاب فرش متناسب با فضای منزلتان انتخاب راحت‌تر و بهتری خواهید داشت. فقط کافی است.
                    </div>
                    <div class="uk-container uk-margin-medium-top" style="direction:rtl;color:white;font-family:vazir;font-size: 1.3em;line-height: 2.5">
                         شما مشتریان عزیز در زمان مراجعه به فروشگاه‌های شهر فرش، با همراه داشتن عکس منزل خود می‌توانید فرش‌های مختلف را در
                         خانه
                         خود ببینید.
                         در این صورت در انتخاب فرش متناسب با فضای منزلتان انتخاب راحت‌تر و بهتری خواهید داشت. فقط کافی است از چند زاویه
                         مختلف از
                         در این صورت در انتخاب فرش متناسب با فضای منزلتان انتخاب راحت‌تر و بهتری خواهید داشت. فقط کافی است.
                    </div>
                    <div class="uk-container uk-margin-medium-top" style="direction:rtl;color:white;font-family:vazir;font-size: 1.3em;line-height: 2.5">
                         شما مشتریان عزیز در زمان مراجعه به فروشگاه‌های شهر فرش، با همراه داشتن عکس منزل خود می‌توانید فرش‌های مختلف را در
                         خانه
                         خود ببینید.
                         در این صورت در انتخاب فرش متناسب با فضای منزلتان انتخاب راحت‌تر و بهتری خواهید داشت. فقط کافی است از چند زاویه
                         مختلف از
                         در این صورت در انتخاب فرش متناسب با فضای منزلتان انتخاب راحت‌تر و بهتری خواهید داشت. فقط کافی است.
                    </div>
               </header>

          </div>
          <div class="one wide column"></div>
         
     </div>

  </section>
     {% include "footer.html" %} {% endblock %}
