{% extends "base.html" %} {% load staticfiles %} {% block content %} {% include "header.html" %}
<section>


{% comment %} <p class="uk-margin-medium-top" style="text-align:center;font-family: persian;font-size: 1.5em">.سفارش شما با موفقیت ثبت شد</p>
    <p class="uk-margin-top" style="text-align:center;font-family: persian;font-size: 1.5em">شماره فاکتور: ۱۲۴۳۴</p>

    <div style="text-align:center">
        <div class="center aligned author">
            <div class="ui animated primary button" tabindex="0">
                <div style="font-family:persian" class="visible content">بازگشت به خانه</div>
                <div class="hidden content">
                    <i class="left arrow icon"></i>
                </div>
            </div>
        </div>

    </div> {% endcomment %}
        {% comment %} <p  class="uk-margin-medium-top" style="text-align:center;font-family: persian;font-size: 1.5em">.سفارش شما با موفقیت ثبت شد</p>
     <p class="uk-margin-top" style="text-align:center;font-family: persian;font-size: 1.5em">شماره فاکتور: ۱۲۴۳۴</p>

     <div style="text-align:center">
          <div class="center aligned author">
               <div class="ui animated primary button" tabindex="0">
                    <div style="font-family:persian;font-size: .8em" class="visible content">بازگشت به خانه</div>
                    <div class="hidden content">
                         <i class="left arrow icon"></i>
                    </div>
               </div>
          </div>

     </div>
     <div class="uk-container uk-container-small uk-margin-top">
          <p class="uk-margin-medium-top" style="text-align:center;font-family: persian;font-size: 1.2em;line-height: 2">
               برای ثبت سفارش به قسمت پیگری سفارش مراجعه فرمایید
               برای ثبت سفارش به قسمت پیگری سفارش مراجعه فرمایید
               برای ثبت سفارش به قسمت پیگری سفارش مراجعه فرمایید
               برای ثبت سفارش به قسمت پیگری سفارش مراجعه فرمایید
               برای ثبت سفارش به قسمت پیگری سفارش مراجعه فرمایید
          </p>
     
     </div>
     <div class="uk-margin-top" style="text-align:center">
          <div class="center aligned author">
               <div class="ui animated green button" tabindex="0">
                    <div style="font-family:persian;font-size: .8em" class="visible content">پیگیری سفارش</div>
                    <div class="hidden content">
                         <i class="left arrow icon"></i>
                    </div>
               </div>
          </div>
     
     </div> {% endcomment %}
  <div class="uk-container uk-container-small uk-section-default uk-margin-top">
          <div class="uk-container uk-section-muted uk-margin-top uk-margin-bottom">
               <p class="uk-margin-top" style="font-family: vazir ;text-align: center;font-size: 1.4em;color: #00b5ad;direction: rtl">امین عبداللهی پور عزیز سفارش ما با موفقیت ثبت شد.</p>
               <p style="font-family: persian ;text-align: center;font-size: 1.1em;color: rgb(100, 98, 98);direction: rtl">سفارش شما با موفقیت ثبت شد و در زمان تعیین شده برای شما ارسال خواهد شد.</p>
               <p style="font-family: persian ;text-align: center;font-size: 1.1em;color: rgb(100, 98, 98);direction: rtl">از اینکه شهر فرش را برای خرید انتخاب کردید، سپاسگذاریم.</p>
               <p class="uk-margin-bottom" style="font-family: vazir ;text-align: center;font-size: 1.3em;color: #fb3449;direction: rtl">شماره فاکتور: ۱۲۴۴۴۲۱۳۱۲۱</p>
          </div>
          <div class="uk-container uk-container-small uk-section-muted uk-margin-top uk-margin-bottom">
               <div class="ui grid">
                    <div class="three wide column" style="direction:rtl;text-align:right">
                         <div class="ui animated button teal uk-margin-top" tabindex="0">
                              <div class="visible content" style="font-family:vazir;font-size:.8em">پیگیری سفارش</div>
                              <div class="hidden content">
                                   <i class="left arrow icon"></i>
                              </div>
                         </div>
                    </div>
                    <div class="eleven wide column">
                         <p class="uk-margin-right uk-margin-top" style="font-family: persian ;text-align: right;font-size: 1.1em;color: rgb(100, 98, 98);direction: rtl">
                         سفارش شما با موفقیت ثبت شد و هم اکنون در حال پردازش است، جزییات این سفارش را می توانید با
                         کلیل بر روی دکمه پیگیری سفارش مشاهده نمایید.
                         </p>
                    </div>
                    
                   
                   
                    
                    
               </div>
</div>
               <div class="uk-container uk-container-small uk-section-muted uk-margin-top uk-margin-bottom">
                    <table class="ui celled striped table teal">
                         <thead>
                              <tr>
                                   <th colspan="3" style="font-family:vazir;color:rgb(100, 98, 98);direction: rtl;text-align: right">
                                       نام تحویل گیرنده: امین عبداللهی پور
                                   </th>
                              </tr>
                         </thead>
                         <tbody>
                              <tr style="font-family:vazir;color:rgb(100, 98, 98);direction: rtl;text-align: right">
                                     <td class="six wide">مبلغ کل:۱۲۳۱۲۴</td>
                                   
                                   <td class="six wide">وضعیت پراخت: پراخت شده</td>
                              </tr>
                              <tr style="font-family:vazir;color:rgb(100, 98, 98);direction: rtl;text-align: right">
                              
                                   <td>مبلغ کل:۱۲۳۱۲۴</td>
                                   
                                   <td>وضعیت پراخت: پراخت شده</td>
                              </tr>
                              <tr style="font-family:vazir;color:rgb(100, 98, 98);direction: rtl;text-align: right">
                              
                                   <td>مبلغ کل:۱۲۳۱۲۴</td>
                                   
                                   <td>وضعیت پراخت: پراخت شده</td>
                              </tr>
                              <tr style="font-family:vazir;color:rgb(100, 98, 98);direction: rtl;text-align: right">
                              
                                   <td>مبلغ کل:۱۲۳۱۲۴</td>
                                   
                                   <td>وضعیت پراخت: پراخت شده</td>
                              </tr>
                              <tr style="font-family:vazir;color:rgb(100, 98, 98);direction: rtl;text-align: right">
                              
                                   <td>مبلغ کل:۱۲۳۱۲۴</td>
                                   
                                   <td>وضعیت پراخت: پراخت شده</td>
                              </tr>
                             
                         </tbody>
                    </table>
               </div>

         

     </div>
</section>
     {% include "footer.html" %} {% endblock %}