<!DOCTYPE html> {% load staticfiles %} {% load i18n %}

<head>
    <!-- semantic -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
    <!-- uikit -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit-icons.min.js"></script>

    <link rel="stylesheet" href="{% static 'setting.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/dropdown.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/dropdown.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" />
    <script src="https://unpkg.com/scrollreveal@4"></script>
  <script src='https://unpkg.com/zooming'></script>

    {% block link %}
   
     {% endblock %} 

    <style>
        html,
        body {
            height: 100%;
            position: relative;
        }

        .main-container {
            min-height: 100%;
            overflow: hidden;
            display: block;
            position: relative;
            padding-bottom: 225px;
        }

        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    </style>

</head>

<body>
    <div class="main-container">
        {% block content %}{% endblock %}
    </div>
    {% block script %}
   
     {% endblock %} 
    <script>
        ScrollReveal().reveal('.widget', {
            interval: 200
        });
        new WOW().init();
            {% comment %} $('.ui.dropdown').dropdown(); {% endcomment %}

    </script>
</body>