
{% extends "base.html" %} {% load staticfiles %} {% block content %} {% include "header.html" %}
<section>


         <div class="uk-container uk-margin-top">
              {% for post in posts %}
          <div class="uk-alert-warning" uk-alert>
               <p style="font-family:latin;text-align:right;direction:rtl;font-size:1.4em">{{post.title}}</p>
               <div class="ui grid">
                    <div class="two wide column"></div>
                   
                    <div class="eleven wide column content" style="direction:rtl;color:black;font-family:vazir;font-size: 1em;line-height: 2.5">
                         {{post.content|truncatewords:60|safe}}
                         <div style="text-align:center" class="uk-margin-top">
                         <button class="ui inverted orange button" onclick="location.href = '/blog/post/{{post.pk}}'" style="font-family:vazir;font-size:.9em">ادامه</button>
                    </div>
                    </div>
                   
               </div>
          </div>
              {% endfor %}
     </div>
</section>
<script>
$(function() {
     var par = $(".content").find("p");
     par.css( "line-height", "2.5" );
     par.css( "font-size", "1em" );
     par.css( "font-family", "vazir" );
     par.css( "direction", "rtl" );
});
</script>

     {% include "footer.html" %} {% endblock %}
