 {% extends "base.html" %} {% load staticfiles %} {% block content %} {% include "header.html" %}


<section>

      <div class="uk-padding-top">
            <div class="uk-container">
                  <h3 class="uk-heading-line uk-text-center uk-margin-medium-top uk-margin-medium-bottom">
                        <span style="font-family:persian;font-size: 1em">ثبت شکایت</span>
                  </h3>
            </div>
            <img class="ui centered small image wow fadeInUp" data-wow-delay="0.8s" src="{% static 'img/logo.png' %}">
      </div>
      <div class="uk-container uk-container-small ">
            <div class="ui form uk-padding-medium-top">
                  <form method="post">
                        {% csrf_token %}
                        <div class="three fields uk-margin-left">
                              {% if not user.is_authenticated %}
                              <div class="required field">
                                    <label style="direction:rtl;font-family: persian">پست الکترونیک</label>
                                    <input name="email" class="uk-input uk-form-width-medium" style="font-family:latin" type="text">

                              </div>
                              <div class="field">
                                    <label style="direction:rtl;font-family: persian">شماره تماس</label>
                                    <input name="phonenumber" class="uk-input uk-form-width-medium" style="font-family:latin" type="text">

                              </div>
                              <div class="required field">
                                    <label style="direction:rtl;font-family: persian">نام و نام خانوادگی</label>
                                    <input name="full_name" class="uk-input uk-form-width-medium" style="font-family:persian;direction:rtl" type="text">

                              </div>
                              {% else %}
                              <input name="email" type="hidden" value={{user.email}}>
                              <input name="phonenumber" type="hidden" value={{user.profile.phonenumber}}>
                              <input name="full_name" type="hidden" value={{user.profile.full_name}}> {% endif %}
                        </div>
                        <div class="required field uk-padding-bottom">
                              <label style="direction:rtl;font-family: persian">متن شکایت</label>
                              <textarea name="text" style="font-size: 1.1em ;font-family:persian;direction:rtl"></textarea>
                        </div>
                        <div class="uk-padding-bottom" style="text-align: center">
                              <button type="submit" style="font-size: .8em ;font-family:persian" class="uk-align-center positive ui button ">ارسال شکایت
                              </button>
                        </div>
                  </form>
            </div>
      </div>
</section>

{% include "footer.html" %} {% endblock %}