{% extends "base.html" %}

{% load staticfiles %} 

 
 
 
{% block content %}

{% include "header.html" %}


<section>
    <div class="uk-container uk-margin-top">
          <div class="uk-margin-top">
               <h3 class="uk-heading-line uk-text-center uk-margin-medium-bottom" style="font-family:persian;text-align: center"><span>ارتباط با ما</span></h3>
          </div>
     </div>
     <div class="ui grid">
          
         <div class="one wide column"></div>
          <div class="nine wide column uk-margin-top-remove uk-alert-primary">
               <div class="uk-alert-primary" >
                    <div class="uk-container uk-container-small"  >
                         <br/>
                         <p style="font-family: vazir ;text-align: right;font-size: 1.1em;line-height:2;color: rgb(100, 98, 98);direction: rtl">
                              سفارش شما با موفقیت ثبت شد و هم اکنون در حال پردازش است، جزییات این سفارش را می توانید با
                              کلیل بر روی دکمه پیگیری سفارش مشاهده نمایید.
                              سفارش شما با موفقیت ثبت شد و هم اکنون در حال پردازش است، جزییات این سفارش را می توانید با
                              کلیل بر روی دکمه پیگیری سفارش مشاهده نمایید.
                              سفارش شما با موفقیت ثبت شد و هم اکنون در حال پردازش است، جزییات این سفارش را می توانید با
                              کلیل بر روی دکمه پیگیری سفارش مشاهده نمایید.
                         </p>
                         <br />
                    </div>
               </div>
              <div class="uk-card uk-card-default uk-card-body uk-card-hover">
                    <div class="ui form">
                         <div class="four fields">
                              <div class="field uk-margin-top ">
                                   <label style="direction:rtl;font-family: vazir;color: rgb(100, 98, 98)">شماره تماس</label>
                                   <input class="uk-input uk-form-width-medium" style="font-family:latin" type="text">
                              
                              </div>
                              <div class="required field uk-margin-top ">
                                   <label style="direction:rtl;font-family: vazir;color: rgb(100, 98, 98)">موضوع پیام</label>
                                   <select class="ui small dropdown" style="font-family: vazir ;text-align: right;font-size: 1.1em;line-height:2;color: rgb(100, 98, 98);direction: rtl">
                                        <option value="2">انتقاد</option>
                                        <option value="1">پیشنهاد</option>
                                        <option value="0">دعوت</option>
                                   </select>
                              
                              
                              
                              </div>
                              <div class="required field uk-margin-top ">
                                   <label style="direction:rtl;font-family: vazir;color: rgb(100, 98, 98)">پست الکترونیک</label>
                                   <input class="uk-input uk-form-width-medium" style="font-family:latin" type="text">
                    
                              </div>
                            
                              <div class="required field uk-margin-top ">
                                   <label style="direction:rtl;font-family: vazir;color: rgb(100, 98, 98)">نام و نام خانوادگی</label>
                                   <input class="uk-input uk-form-width-medium" style="font-family:persian;direction:rtl" type="text">
                    
                              </div>
                             
                         </div>
                         <div class="required field">
                              <label style="direction:rtl;font-family: vazir;color: rgb(100, 98, 98)">پیام</label>
                              <textarea style="font-size: 1.1em ;font-family:persian;direction:rtl"></textarea>
                         </div>
                         <div class="uk-margin-bottom" style="text-align: center">
                              <button  style="font-size: .8em ;font-family:persian" class="uk-margin-bottom uk-align-center primary ui button ">ارسال پیام
                              </button>
                         </div>
                    </div>
              </div>
          </div>
          <div class="five wide column  uk-section-muted">
               <div style="font-size: 1.2em;font-family:persian;line-height:2;text-align: right">
                    <div class="uk-margin-top">
                         <img class="ui small circular image centered wow fadeInUp" data-wow-delay="0.5s" src="{% static 'img/contact1.jpg' %}">
                    </div>
                    <h3 class="uk-margin-top uk-margin-right centered wow fadeInUp" data-wow-delay="0.8s" style="font-family:persian;text-align: center">:تماس با شهر فرش</h3>
                    <p class="uk-margin-large-right uk-margin-top wow fadeInUp" data-wow-delay="0.8s" style="font-family: vazir ;text-align: right;line-height:3;font-size: 1em;color: rgb(100, 98, 98);direction: rtl">
                    <i class="green large phone icon"></i>  شماره تماس:۰۲۱-۱۲۳۱۳۱۲۳
                         <br/>
                    <i class="red large envelope outline icon"></i> ایمیل:aminabdolhasd@gmail.com
                         <br />
                    <i class="blue large telegram icon"></i>  آدرس کانال تلگرام: @asdasf
                         <br />
                    <i class="orange large instagram icon"></i>آدرس پیج اینستاگرام:asfas
                    </p>
                    <p class="uk-container wow fadeInUp" data-wow-delay="0.5s" style="font-family: vazir ;text-align: right;font-size: 1em;line-height:2;color: rgb(100, 98, 98);direction: rtl">
                         سفارش شما با موفقیت ثبت شد و هم اکنون در حال پردازش است، جزییات این سفارش را می توانید با
                         کلیل بر روی دکمه پیگیری سفارش مشاهده نمایید.
                         سفارش شما با موفقیت ثبت شد و هم اکنون در حال پردازش است، جزییات این سفارش را می توانید با
                       
                    </p>
                   
               </div>
          </div>
          <div class="one wide column"></div>

     </div>
</section>

{% include "footer.html" %}
{% endblock %}
