

{% extends "base.html" %}

{% load staticfiles %} 

 
 
 
{% block content %}

{% include "header.html" %}
<section>
    <div class="uk-container uk-container-small uk-margin-medium-top">
        <h3 style="font-family: persian;text-align: right;direction: rtl;color:#028090">فاکتور سفارش شما:</h3>
        <table class="ui teal celled table">
            <thead>
                <th colspan="5">
                    <div style="text-align:center" class="six wide column uk-margin-top">
                        <div class="uk-container">
                            <img class="ui small image centered" src="{% static 'img/logo.png' %}">
                        </div>
                    </div>
                    <div class="ui grid uk-margin-top">
                        <div class="row">
                            <div class="four wide column">
                                <p style="font-family:persian">کد سفارش: ۱۴۴۵۶۸۷۴۹</p>
                            </div>
                            <div class="five wide column"></div>
                            <div class="five wide column">
                                <p style="font-family:persian;direction:rtl;text-align:right">نام و نام خانوادگی مشتری: امین عبداللهی پور</p>

                            </div>
                        </div>
                        <!-- <div class="left floated">
                    <p style="font-family:persian">نام و نام خانوادگی مشتری: امین عبداللهی پور</p>

                </div>
                <div class="">
                    <p style="font-family:persian;text-align:right;direction:rtl">کد سفارش: ۱۲۳۴</p>
                </div> -->
                    </div>

                </th>
                <tr style="font-family:persian;text-align:center">
                    <th>قیمت کل</th>
                    <th>تعداد</th>
                    <th>قیمت واحد</th>
                    <th>رنگ</th>
                    <th>نام محصول</th>
                </tr>
            </thead>
            <tbody style="font-family:persian;text-align:center">
                <tr>
                    <td>۳۶۰/۰۰۰</td>
                    <td>۳</td>
                    <td>۱۲۰/۰۰۰</td>
                    <td>قرمز</td>
                    <td>فرش دستباف</td>
                </tr>
                <tr>
                    <td>۳۶۰/۰۰۰</td>
                    <td>۳</td>
                    <td>۱۲۰/۰۰۰</td>
                    <td>قرمز</td>
                    <td>فرش دستباف</td>
                </tr>
                <tr>
                    <td>۳۶۰/۰۰۰</td>
                    <td>۳</td>
                    <td>۱۲۰/۰۰۰</td>
                    <td>قرمز</td>
                    <td>فرش دستباف</td>
                </tr>
                <tr>
                    <td>۳۶۰/۰۰۰</td>
                    <td>۳</td>
                    <td>۱۲۰/۰۰۰</td>
                    <td>قرمز</td>
                    <td>فرش دستباف</td>
                </tr>
                <tr>
                    <td>۳۶۰/۰۰۰</td>
                    <td>۳</td>
                    <td>۱۲۰/۰۰۰</td>
                    <td>قرمز</td>
                    <td>فرش دستباف</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th style="direction:rtl;font-family:persian;text-align: right;line-height:2;font-size:1.2em">جمع کل خرید شما:۲/۰۰۰/۰۰۰
                        <br/> مبلغ قابل پرداخت برای شما: ۱/۵۰۰/۰۰۰
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
        <div class="uk-margin-top" style="text-align:center">
            <button class="ui blue button" style="font-family:persian;font-size:.9em" uk-toggle="target: #modal-example">چاپ فاکتور</button>
        </div>
    </div>
</section>

{% include "footer.html" %}
{% endblock %}
