{% load staticfiles %} {% load i18n %}
<footer>
    <div class="uk-section-secondary footer">
        <div style="font-family:persian">
            <div class="ui grid">
                <div style="direction: rtl" class="three wide column uk-margin">
                    <p class="uk-margin-top" style="line-height: 2;">
                        <span class="uk-padding-remove" style="font-size:1.3em;color:#ffffff ">تماس با ما</span>
                        <br />
                        <span style="font-size: 1.1em">کاشان ، خیابان ارباب ، پلاک ۲۲</span>
                        <br />
                        <span style="font-size: 1.1em"> تلفن : 32331000 -031</span>
                        <br />
                        <span style="font-size: 1.1em"> پیامک : 10002331000</span>
                        <br /> تلگرام – سروش :
                        <span style="font-size: 1.1em">09904399942</span>
                        <br />
                    </p>
                </div>
                <div class="two wide column"></div>
                <div style="text-align:center" class="six wide column uk-margin-top">
                    <div class="uk-container">
                        <img class="ui small image centered" src="{% static 'img/logo.png' %}">
                        <div class="uk-margin-large-top">
                            <button class="ui circular instagram icon button">
                                <i class="large instagram icon"></i>
                            </button>
                            <button class="ui circular facebook icon button">
                                <i class="large telegram icon"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div style="direction: rtl" class="five wide column">
                    <p class="uk-margin-top uk-margin-medium-right uk-margin-bottom" style="line-height: 2;">
                        <span class="uk-padding-remove" style="font-size:1.3em;color:#ffffff ">نقشه سایت</span>
                        <br />
                        <span style="font-size: 1.1em">خانه</span>
                        <br />
                        <span style="font-size: 1.1em">ارتباط با ما</span>
                        <br />
                        <span style="font-size: 1.1em">درباره ما</span>
                        <br />
                        <span style="font-size: 1.1em">ثبت شکایت</span>
                        <br />
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>