{% load staticfiles %} {% load i18n %}
<div class="uk-section-muted">
    <div class="ui grid">
        <div class="five wide column">
            <div class="uk-container uk-margin-top">
                <button onclick="location.href = '/cart'" class="uk-button uk-button-danger" style="font-family: persian">
                    {% if user.is_authenticated %}
                    <span style="background-color:#FF686B" class="uk-badge">{{items_count}}</span>
                    {% endif %}
                    سبد سفارش
                    <span class="uk-margin-small-left" uk-icon="cart"></span>
                </button>
            </div>
        </div>
        <div style="text-align:center" class="six wide column uk-margin-top">
            <div class="uk-container">
                <img class="ui small image centered" src="{% static 'img/logo.png' %}">
            </div>
        </div>
        <div style="direction: rtl" class="five wide column uk-margin-top">
            <div class="uk-container">
                <p style="direction:rtl;font-family:persian;">
                    فروشگاه اینترنتی شهر فرش،
              {% if not user.is_authenticated %}
                    <a id="signin" style="font-family:persian;text-decoration:none" href="#modal-example1" uk-toggle>وارد شوید.</a>
                    <button onclick="location.href='/signup'" style="font-family:persian;font-size:0.9em" class="ui primary button uk-margin-right">ثبت نام</button>
              {% else %}
                    <strong>{{user.profile.full_name}}</strong>  عزیز خوش آمدی.
              {% endif %}
                </p>
            </div>
            <div id="modal-example1" uk-modal>
                <div class="uk-modal-dialog uk-modal-body">
                    <button class="uk-modal-close-default" type="button" uk-close></button>
                    <form method="post" action="/accounts/login/" class="ui form uk-margin-top">
                        {% csrf_token %}
                        <div class="field">
                            <label style="font-family:latin;direction:rtl">شناسه کاربری</label>
                            <input type="text" name="username" placeholder="شناسه کاربری">
                        </div>
                        <div class="field">
                            <label style="font-family:latin;direction:rtl">کلمه عبور</label>
                            <input type="password" name="password" placeholder="کلمه عبور">
                        </div>
                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" tabindex="0" class="hidden">
                            </div>
                        </div>
                        <div style="text-align:center">
                            <button class="blue ui button" type="submit" style="font-family:persian;direction:rtl;font-size:0.9em">ورود به شهر فرش</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="ui menu" style="font-family: persian">
        <div class="left menu">
            {% if user.is_authenticated %}
            <a href="/accounts/logout" class="item">خروج
                <span class="uk-margin-small-left" uk-icon="sign-out"></span>
            </a>
            {% else %}
            <a href="/accounts/login" class="item">ورود
                <span class="uk-margin-small-right" uk-icon="sign-in"></span>
            </a>
            {% endif %}
            <a class="item">پروفایل</a>
             <a href="/about_us" class="item">درباره ما</a>
            <a href="/contact" class="item">ارتباط با ما</a>
        </div>
        <div class="menu">
            <!-- <form class="uk-search uk-search-large">
                                      <span uk-search-icon style="color:#f0506e"></span>
                                      <input style="font-size:1em;direction:rtl" class="uk-search-input" type="search" placeholder="نام کالا و یا دسته موردنظر را جستجو کنید ...">
                                  </form> -->
            <nav class="uk-navbar-container" uk-navbar>
                <div class="uk-navbar-left uk-background-default">

                    <div class="uk-navbar-item">
                        <form class="uk-search uk-search-navbar">
                            <button uk-search-icon style="color:#f0506e"></button>
                            <input style="font-family:persian;font-size:1.2em;direction:rtl" class="uk-search-input" type="search" placeholder="نام کالا و یا دسته موردنظر را جستجو کنید ...">
                        </form>
                    </div>

                </div>
            </nav>
        </div>
        <div class="right menu">
            <a href="/order_track" class="item">پیگیری سفارش</a>
            <a class="item">راهنمای خرید</a>
            <div onclick="location.href = '/products'" class="ui simple dropdown item">
                محصولات
                <i class="dropdown icon"></i>
                <div class="right menu">
                    <div class="item" style="text-align: right">فرش دستباف</div>
                    <div class="item" style="text-align: right">تابلو فرش</div>
                    <div class="item" style="text-align: right">فرش کودک</div>
                    <div class="item" style="text-align: right">فرش مدرن</div>
                    <div class="item" style="text-align: right">گلیم</div>
                    <div class="item" style="text-align: right">فرش ماشینی</div>
                </div>
            </div>
            <a href="/" class="active item">خانه</a>
        </div>
    </div>

</div>
