


{% extends "base.html" %} {% load staticfiles %} {% block content %} {% include "header.html" %}
<section>


  <div class="uk-margin-top uk-container">
    <p style="font-family:latin;text-align:center;direction:rtl;font-size:2em">خانه آرایی از راه دور</p>
    <br/>
    <div class="ui grid">
      <div class="wow fadeInUp six wide column"  data-wow-delay="0.5s" data-wow-offset="50">
        <img class="ui circular large image" src="{% static 'img/help.jpeg' %}">
      </div>
      <div class="eight wide column" style="direction:rtl">
        <p style="direction:rtl;color:black;font-family:vazir;font-size: 1.2em;line-height: 2.5">
          شما مشتریان عزیز در زمان مراجعه به فروشگاه‌های شهر فرش، با همراه داشتن عکس منزل خود می‌توانید فرش‌های مختلف را در خانه خود
          ببینید. در این صورت در انتخاب فرش متناسب با فضای منزلتان انتخاب راحت‌تر و بهتری خواهید داشت. فقط کافی است از چند
          زاویه مختلف از منزل خود عکس تهیه کنید و با مراجعه به واحد خانه آرایی شهر فرش، فرش دلخواه خود را انتخاب نمایید و
          تصویر آن فرش یا فرش‌ها را در منزل خود مشاهده نمایید.
        </p>
        <p style="direction:rtl;color:black;font-family:vazir;font-size: 1.2em;line-height: 2.5">
          شما حتی می‌توانید به صورت غیرحضوری هم فرش دلخواهتان را در منزل خود مشاهده کنید. برای این منظور فقط کافیست عکس منزلتان را
          به شماره تلگرام ۰۹۰۱۰۲۵۶۱۵۴ ارسال کنید و مشخصات فرش دلخواه خود را به کارشناسان شهر فرش اعلام کنید تا در اسرع وقت،
          فرش دلخواهتان را در منزل خودتان برایتان جانمایی کرده و برایتان ارسال کنند.
        </p>
      </div>
    </div>
  </div>


  </section>
     {% include "footer.html" %} {% endblock %}
