

{% extends "base.html" %}

{% load staticfiles %} 

 
 
 
{% block content %}

{% include "header.html" %}
{% load instagram_client %}
<section class="uk-section-muted">
    <div uk-slideshow="ratio: 11:4;animation: push;autoplay: true">
        <div class="uk-position-relative uk-visible-toggle uk-light">
            <ul class="uk-slideshow-items">
                <li>
                    <img src="{% static 'img/slider1.jpeg' %}" alt="" uk-cover>
                </li>
                <li>
                    <img src="{% static 'img/slider2.jpeg' %}" alt="" uk-cover>
                </li>
                <li>
                    <img src="{% static 'img/slider3.jpeg' %}" alt="" uk-cover>
                </li>
                <li>
                    <img src="{% static 'img/slider4.jpeg' %}" alt="" uk-cover>
                </li>
            </ul>
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
        </div>
        <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
    </div>
    <div class="uk-container  ">
        <h3 class="uk-heading-line uk-text-center">
            <span style="font-family:persian;font-size: .9em">دسته بندی</span>
        </h3>
        <div class="uk-child-width-1-4@m" uk-grid>
            {% for cat in carpets_categories %}
                {% for c in cat|slice:":1" %}
            <div onclick="location.href='/products/{{c.id}}'" class="wow fadeInUp" data-wow-delay="0.5s" data-wow-offset="50">
                <div class="uk-card uk-card-default" width="250" height="250">
                    <div class="uk-card-media-top">
                        <img style="text-align:center" src="/media/{{c.image1}}" alt="">
                    </div>
                    <div class="uk-card-body ">
                        <h3 class="uk-card-title" style="text-align:center;font-family:persian">{{c.title}}</h3>
                        <!-- <p class="" style="text-align:right;font-family:persian;direction: rtl;line-height: 2;">فرش دست‌بافت نقشه موج مهر ۲۱۳۴، رجشمار۶۰، نوع چله ابریشم، تعداد رنگ۱۵، محل بافت تبریز، الیاف و نوع پرز کرک و ابریشم در شهر
                            فرش عرضه می‌شود.</p> -->
                    </div>
                </div>
            </div>

                {% endfor %}
            {% endfor %}
            <div class="wow fadeInUp" data-wow-delay="0.5s" data-wow-offset="50">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="{% static 'img/carpet11.JPG' %}" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title" style="text-align:center;font-family:persian">تابلو فرش</h3>
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p> -->
                    </div>
                </div>
            </div>
            <!--<div class="wow fadeInUp" data-wow-delay="0.5s" data-wow-offset="50">-->
                <!--<div class="uk-card uk-card-default">-->
                    <!--<div class="uk-card-media-top">-->
                        <!--<img src="{% static 'img/carpet3.jpg' %}" alt="">-->
                    <!--</div>-->
                    <!--<div class="uk-card-body">-->
                        <!--<h3 class="uk-card-title" style="text-align:center;font-family:persian">فرش کودک</h3>-->
                        <!--&lt;!&ndash; <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p> &ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="wow fadeInUp" data-wow-delay="0.5s" data-wow-offset="50">-->
                <!--<div class="uk-card uk-card-default">-->
                    <!--<div class="uk-card-media-top">-->
                        <!--<img src="{% static 'img/carpet4.jpg' %}" alt="">-->
                    <!--</div>-->
                    <!--<div class="uk-card-body">-->
                        <!--<h3 class="uk-card-title" style="text-align:center;font-family:persian">گلیم و قالیچه</h3>-->
                        <!--&lt;!&ndash; <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p> &ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
    <hr class="uk-container uk-divider-icon" />
    <div class="ui grid">
        <div class="three wide column uk-section-secondary" style="padding-left: 30px;">
            <div id="django_recent_media_wall">
<h3 class="uk-heading-line uk-text-center">
    <span style="font-family:persian;font-size: .8em">اکانت ایسنتاگرام</span>
</h3>    {% instagram_user_recent_media googlemaps %}
    {% for media in recent_media %}
                {% if forloop.counter0 < 5 %}
        <div class="django_instagram_media_wall_item">
            <a href="//instagram.com/p/{{ media.shortcode }}" target="_blank">
                <img src="{{ media.thumbnail_src }}"/>
                <span>{{ media.edge_media_to_caption.edges.0.node.text }}</span>
            </a>
        </div>
                {% endif %}
    {% endfor %}
</div>
        </div>
    <div class="one wide column uk-section-muted"></div>
        <div class="eleven wide column uk-section-muted ">
<h3 class="uk-heading-line uk-text-center">
    <span style="font-family:persian;font-size: .9em">جدیدترین کالا ها</span>
</h3>            <div class="uk-margin-top uk-margin-right wow slideInRight" data-wow-delay="0.5s" uk-slider="center: true">

                <div class="uk-position-relative uk-visible-toggle uk-light">

                    <ul class="uk-slider-items uk-child-width-1-3@s uk-grid">
                        <li>
                            <div class="uk-card uk-card-hover uk-card-default ">
                                <div class="uk-card-media-top" style="text-align:center">
                                    <img src="{% static 'img/carpet1.jpg' %}" alt="">
                                </div>
                                <div class="uk-card-body">
                                    <p class="uk-card-title" style="font-family:persian;text-align:center;font-size:1.1em">فرش</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="uk-card uk-card-hover uk-card-default">
                                <div class="uk-card-media-top" style="text-align:center">
                                    <img src="{% static 'img/carpet2.jpg' %}" alt="">
                                </div>
                                <div class="uk-card-body">
                                    <p class="uk-card-title" style="font-family:persian;text-align:center;font-size:1.1em">فرش</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="uk-card uk-card-hover uk-card-default">
                                <div class="uk-card-media-top" style="text-align:center">
                                    <img src="{% static 'img/carpet3.jpg' %}" alt="">
                                </div>
                                <div class="uk-card-body">
                                    <p class="uk-card-title" style="font-family:persian;text-align:center;font-size:1.1em">فرش</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="uk-card uk-card-hover uk-card-default">
                                <div class="uk-card-media-top" style="text-align:center">
                                    <img src="{% static 'img/carpet4.jpg' %}" alt="">
                                </div>
                                <div class="uk-card-body">
                                    <p class="uk-card-title" style="font-family:persian;text-align:center;font-size:1.1em">فرش</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="uk-card uk-card-hover uk-card-default">
                                <div class="uk-card-media-top" style="text-align:center">
                                    <img src="{% static 'img/carpet14.jpg' %}" alt="">
                                </div>
                                <div class="uk-card-body">
                                    <p class="uk-card-title" style="font-family:persian;text-align:center;font-size:1.1em">فرش</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="uk-card uk-card-hover uk-card-default">
                                <div class="uk-card-media-top" style="text-align:center">
                                    <img src="{% static 'img/carpet21.jpg' %}" alt="">
                                </div>
                                <div class="uk-card-body">
                                    <p class="uk-card-title" style="font-family:persian;text-align:center;font-size:1.1em">فرش</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="uk-card uk-card-hover uk-card-default">
                                <div class="uk-card-media-top" style="text-align:center">
                                    <img src="{% static 'img/carpet14.jpg' %}" alt="">
                                </div>
                                <div class="uk-card-body">
                                    <p class="uk-card-title" style="font-family:persian;text-align:center;font-size:1.1em">فرش</p>
                                </div>
                            </div>
                        </li>

                    </ul>

                    <a style="color:#ffffff" class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
                        uk-slider-item="previous"></a>
                    <a style="color:#ffffff" class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

                </div>

                <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

            </div>
            {% comment %} <p class="uk-margin-right  uk-text-center" style="direction:rtl;font-family:persian;font-size:1.4em">پربازدید ترین کالاها</p> {% endcomment %}
            <h3 class="uk-heading-line uk-text-center">
    <span style="font-family:persian;font-size: .9em">جدیدترین کالا ها</span>
</h3>
            <div class="uk-margin-top uk-margin-right wow slideInRight" data-wow-delay="0.5s" uk-slider="center: true">

                <div class="uk-position-relative uk-visible-toggle uk-light">

                    <ul class="uk-slider-items uk-child-width-1-3@s uk-grid">
                        <li>
                            <div class="uk-card uk-card-hover uk-card-default">
                                <div class="uk-card-media-top" style="text-align:center">
                                    <img src="{% static 'img/carpet17.jpg' %}" alt="">
                                </div>
                                <div class="uk-card-body">
                                    <p class="uk-card-title" style="font-family:persian;text-align:center;font-size:1.1em">فرش</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="uk-card uk-card-hover uk-card-default">
                                <div class="uk-card-media-top" style="text-align:center">
                                    <img src="{% static 'img/carpet16.jpg' %}" alt="">
                                </div>
                                <div class="uk-card-body">
                                    <p class="uk-card-title" style="font-family:persian;text-align:center;font-size:1.1em">فرش</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="uk-card uk-card-hover uk-card-default">
                                <div class="uk-card-media-top" style="text-align:center">
                                    <img src="{% static 'img/carpet17.jpg' %}" alt="">
                                </div>
                                <div class="uk-card-body">
                                    <p class="uk-card-title" style="font-family:persian;text-align:center;font-size:1.1em">فرش</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="uk-card uk-card-hover uk-card-default">
                                <div class="uk-card-media-top" style="text-align:center">
                                    <img src="{% static 'img/carpet16.jpg' %}" alt="">
                                </div>
                                <div class="uk-card-body">
                                    <p class="uk-card-title" style="font-family:persian;text-align:center;font-size:1.1em">فرش</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="uk-card uk-card-hover uk-card-default">
                                <div class="uk-card-media-top" style="text-align:center">
                                    <img src="{% static 'img/carpet3.jpg' %}" alt="">
                                </div>
                                <div class="uk-card-body">
                                    <p class="uk-card-title" style="font-family:persian;text-align:center;font-size:1.1em">فرش</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="uk-card uk-card-hover uk-card-default">
                                <div class="uk-card-media-top" style="text-align:center">
                                    <img src="{% static 'img/carpet14.jpg' %}" alt="">
                                </div>
                                <div class="uk-card-body">
                                    <p class="uk-card-title" style="font-family:persian;text-align:center;font-size:1.1em">فرش</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="uk-card uk-card-hover uk-card-default">
                                <div class="uk-card-media-top" style="text-align:center">
                                    <img src="{% static 'img/carpet21.jpg' %}" alt="">
                                </div>
                                <div class="uk-card-body">
                                    <p class="uk-card-title" style="font-family:persian;text-align:center;font-size:1.1em">فرش</p>
                                </div>
                            </div>
                        </li>

                    </ul>

                    <a style="color:#ffffff" class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
                        uk-slider-item="previous"></a>
                    <a style="color:#ffffff" class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

                </div>

                <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

            </div>

            {% comment %} <p class="uk-margin-right  uk-text-center" style="direction:rtl;font-family:persian;font-size:1.4em">پر فروش ترین کالاها</p> {% endcomment %}
            <h3 class="uk-heading-line uk-text-center">
    <span style="font-family:persian;font-size: .9em">جدیدترین کالا ها</span>
</h3>
            <div class="uk-margin-top uk-margin-right wow slideInRight" data-wow-delay="0.5s" uk-slider="center: true">

                <div class="uk-position-relative uk-visible-toggle uk-light">

                    <ul class="uk-slider-items uk-child-width-1-3@s uk-grid">
                        <li>
                            <div class="uk-card uk-card-hover uk-card-default">
                                <div class="uk-card-media-top" style="text-align:center">
                                    <img src="{% static 'img/carpet14.jpg' %}" alt="">
                                </div>
                                <div class="uk-card-body">
                                    <p class="uk-card-title" style="font-family:persian;text-align:center;font-size:1.1em">فرش</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="uk-card uk-card-hover uk-card-default">
                                <div class="uk-card-media-top" style="text-align:center">
                                    <img src="{% static 'img/carpet13.jpg' %}" alt="">
                                </div>
                                <div class="uk-card-body">
                                    <p class="uk-card-title" style="font-family:persian;text-align:center;font-size:1.1em">فرش</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="uk-card uk-card-hover uk-card-default">
                                <div class="uk-card-media-top" style="text-align:center">
                                    <img src="{% static 'img/carpet17.jpg' %}" alt="">
                                </div>
                                <div class="uk-card-body">
                                    <p class="uk-card-title" style="font-family:persian;text-align:center;font-size:1.1em">فرش</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="uk-card uk-card-hover uk-card-default">
                                <div class="uk-card-media-top" style="text-align:center">
                                    <img src="{% static 'img/carpet2.jpg' %}" alt="">
                                </div>
                                <div class="uk-card-body">
                                    <p class="uk-card-title" style="font-family:persian;text-align:center;font-size:1.1em">فرش</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="uk-card uk-card-hover uk-card-default">
                                <div class="uk-card-media-top" style="text-align:center">
                                    <img src="{% static 'img/carpet21.jpg' %}" alt="">
                                </div>
                                <div class="uk-card-body">
                                    <p class="uk-card-title" style="font-family:persian;text-align:center;font-size:1.1em">فرش</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="uk-card uk-card-hover uk-card-default">
                                <div class="uk-card-media-top" style="text-align:center">
                                    <img src="{% static 'img/carpet20.jpg' %}" alt="">
                                </div>
                                <div class="uk-card-body">
                                    <p class="uk-card-title" style="font-family:persian;text-align:center;font-size:1.1em">فرش</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="uk-card uk-card-hover uk-card-default">
                                <div class="uk-card-media-top" style="text-align:center">
                                    <img src="{% static 'img/carpet21.jpg' %}" alt="">
                                </div>
                                <div class="uk-card-body">
                                    <p class="uk-card-title" style="font-family:persian;text-align:center;font-size:1.1em">فرش</p>
                                </div>
                            </div>
                        </li>

                    </ul>

                    <a style="color:#ffffff" class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
                        uk-slider-item="previous"></a>
                    <a style="color:#ffffff" class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

                </div>

                <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

            </div>




        </div>
    </div>
    <br />
</section>
{% include "footer.html" %}
{% endblock %}
