
{% extends "base.html" %} {% load staticfiles %} {% block content %} {% include "header.html" %}

    {% block link %}
        <link rel="stylesheet" href="{% static 'blog.css' %}" />

     {% endblock %} 
<section>


    <header class="header">
        <br/>
        <p style="font-family:latin;text-align:center;font-size:1.8em">{{post.title}}</p>
    </header>


    <div class="ui grid uk-margin-top">
        <div class="one wide column"></div>
        <div class="five wide column">
            {% if post.image1 %}
            <img class="ui large image" src="/media/{{post.image1}}">
            <br/>
            {% endif %}
            {% if post.image2 %}
            <img class="ui large image" src="/media/{{post.image2}}">
            <br/>
            {% endif %}
            {% if post.image3 %}
            <img class="ui large image" src="/media/{{post.image3}}">
            <br/>
            {% endif %}
            {% if post.image4 %}
            <img class="ui large image" src="/media/{{post.image4}}">
            <br/>
            {% endif %}
        </div>
        <div class="nine wide column" style="direction:rtl;color:black;font-family:vazir;font-size: 1em;line-height: 2.5">
            {{post.content|safe}}
        </div>
        <div class="one wide column"></div>

    </div>


{% comment %} 
    <header class="header">
        <br/>
        <p style="font-family:latin;text-align:center;font-size:1.8em">عنوان خبر</p>
    </header>


    <div class="ui grid uk-margin-top">
        <div class="one wide column"></div>
        <div class="five wide column">
            <img class="ui large image" src="{% static 'img/blog.jpg' %}">
            <br/>
            <img class="ui large image" src="{% static 'img/blog1.jpg' %}">
        </div>
        <div class="nine wide column" style="direction:rtl;color:black;font-family:vazir;font-size: 1em;line-height: 2.5">
            شما مشتریان عزیز در زمان مراجعه به فروشگاه‌های شهر فرش، با همراه داشتن عکس منزل خود می‌توانید فرش‌های مختلف را در خانه خود
            ببینید. در این صورت در انتخاب فرش متناسب با فضای منزلتان انتخاب راحت‌تر و بهتری خواهید داشت. فقط کافی است از
            چند زاویه مختلف از منزل خود عکس تهیه کنید و با مراجعه به واحد خانه آرایی شهر فرش، فرش دلخواه خود را انتخاب نمایید
            و تصویر آن فرش یا فرش‌ها را در منزل خود مشاهده نمایید. شما مشتریان عزیز در زمان مراجعه به فروشگاه‌های شهر فرش،
            با همراه داشتن عکس منزل خود می‌توانید فرش‌های مختلف را در خانه خود ببینید. در این صورت در انتخاب فرش متناسب با
            فضای منزلتان انتخاب راحت‌تر و بهتری خواهید داشت. فقط کافی است از چند زاویه مختلف از منزل خود عکس تهیه کنید و
            با مراجعه به واحد خانه آرایی شهر فرش، فرش دلخواه خود را انتخاب نمایید و تصویر آن فرش یا فرش‌ها را در منزل خود
            مشاهده نمایید. شما مشتریان عزیز در زمان مراجعه به فروشگاه‌های شهر فرش، با همراه داشتن عکس منزل خود می‌توانید
            فرش‌های مختلف را در خانه خود ببینید. در این صورت در انتخاب فرش متناسب با فضای منزلتان انتخاب راحت‌تر و بهتری
            خواهید داشت. فقط کافی است از چند زاویه مختلف از منزل خود عکس تهیه کنید و با مراجعه به واحد خانه آرایی شهر فرش،
            فرش دلخواه خود را انتخاب نمایید و تصویر آن فرش یا فرش‌ها را در منزل خود مشاهده نمایید. شما مشتریان عزیز در زمان
            مراجعه به فروشگاه‌های شهر فرش، با همراه داشتن عکس منزل خود می‌توانید فرش‌های مختلف را در خانه خود ببینید. در
            این صورت در انتخاب فرش متناسب با فضای منزلتان انتخاب راحت‌تر و بهتری خواهید داشت. فقط کافی است از چند زاویه مختلف
            از منزل خود عکس تهیه کنید و با مراجعه به واحد خانه آرایی شهر فرش، فرش دلخواه خود را انتخاب نمایید و تصویر آن
            فرش یا فرش‌ها را در منزل خود مشاهده نمایید. شما مشتریان عزیز در زمان مراجعه به فروشگاه‌های شهر فرش، با همراه
            داشتن عکس منزل خود می‌توانید فرش‌های مختلف را در خانه خود ببینید. در این صورت در انتخاب فرش متناسب با فضای منزلتان
            انتخاب راحت‌تر و بهتری خواهید داشت. فقط کافی است از چند زاویه مختلف از منزل خود عکس تهیه کنید و با مراجعه به
            واحد خانه آرایی شهر فرش، فرش دلخواه خود را انتخاب نمایید و تصویر آن فرش یا فرش‌ها را در منزل خود مشاهده نمایید.
        </div>
        <div class="one wide column"></div>

    </div> {% endcomment %}





</section>
     {% include "footer.html" %} {% endblock %}
