


{% extends "base.html" %}

{% load staticfiles %} 

 
 

{% block content %}

{% include "header.html" %}






<section>
    <div class="uk-container uk-container-small" style="width:40%">
        <br>
{% if form.errors %}
    <div class="ui error message " style="font-family:latin;direction:rtl;float:right">
    <p>نام کاربری و کلمه عبور شما صحیح نمی باشد. لطفا مجددا وارد نمایید.</p>
    </div>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <div class="ui error message " style="font-family:latin;direction:rtl;float:right">
    <p>حساب کاربری شما اجازه دسترسی به این صفحه را ندارد. لطفا با ادمین سایت تماس حاصل نمایید.</p>
            </div>
    {% else %}
    <div class="ui error message " style="font-family:latin;direction:rtl;float:right">
            <p>لطفا ابتدا وارد حساب کاربری خود شوید.</p>
                    </div>
    
    {% endif %}
{% endif %}

        <form method="post" action="{% url 'login' %}" class="ui form uk-margin-top">
             {% csrf_token %}
             <div class="field">
                  <label style="font-family:persian;direction:rtl">شناسه کاربری</label>
                  <input name="username"type="text" style="font-family:latin;" placeholder="شناسه کاربری">
             </div>
             <div class="field">
                  <label style="font-family:persian;direction:rtl">کلمه عبور</label>
                  <input type="password" name="password" style="font-family:latin;" placeholder="کلمه عبور">
             </div>
             <div class="field">
                  <div class="ui checkbox">
                       <input type="checkbox" tabindex="0" class="hidden">
                  </div>

                  <div style="text-align:right;direction: rtl;font-family: persian">
                       <a href="{% url 'password_reset' %}" style="text-decoration: none">رمز عبور را فراموش کرده ام.</a>
                  </div>
             </div>

             <div style="text-align:center">
                  <button class="blue ui button" type="submit" style="font-family:persian;direction:rtl;font-size:0.9em">ورود
                       به شهر فرش</button>

<input type="hidden" name="next" value="{{ next }}">
             </div>

        </form>

</div>
</section>

{% include "footer.html" %}
{% endblock %}
