

{% extends "base.html" %}

{% load staticfiles %} 

 
 
 
{% block content %}

{% include "header.html" %}

<section>
       <div class="uk-container">
        <h3 class="uk-heading-line uk-text-center uk-margin-medium-top uk-margin-bottom">
            <span style="font-family:persian;font-size: 1em">پیگیری سفارش</span>
        </h3>
    </div>
    <div class="ui grid">
        <div class="five wide column"></div>
        <div class="six wide column">
            <nav class="uk-navbar-container" uk-navbar>
                <div class="uk-navbar-left">

                    <div class="uk-navbar-item">
                        <form class="uk-search uk-search-navbar">
                            <button uk-search-icon></button>
                            <input style="direction:rtl;font-family: persian;font-size: 1.2em" class="uk-search-input" type="search" placeholder="شماره فاکتور سبد خرید را وارد کنید">
                        </form>
                    </div>

                </div>
            </nav>
        </div>
    </div>
    <div class="uk-container">
        <h4 style="font-family: persian;text-align: right;direction: rtl;color:#028090">توضیحات:</h4>
        <p style="font-family:persian;direction:rtl;font-size: 1.2em;line-height: 2">
            این پیگیری سفارش مربوط به سبد خرید با شماره فاکتور می باشد. این پیگیری سفارش مربوط به سبد خرید با شماره فاکتور می باشد. این
            پیگیری سفارش مربوط به سبد خرید با شماره فاکتور می باشد. این پیگیری سفارش مربوط به سبد خرید با شماره فاکتور می
            باشد. این پیگیری سفارش مربوط به سبد خرید با شماره فاکتور می باشد. این پیگیری سفارش مربوط به سبد خرید با شماره
            فاکتور می باشد. این پیگیری سفارش مربوط به سبد خرید با شماره فاکتور می باشد. این پیگیری سفارش مربوط به سبد خرید
            با شماره فاکتور می باشد. این پیگیری سفارش مربوط به سبد خرید با شماره فاکتور می باشد. این پیگیری سفارش مربوط به
            سبد خرید با شماره فاکتور می باشد. این پیگیری سفارش مربوط به سبد خرید با شماره فاکتور می باشد. این پیگیری سفارش
            مربوط به سبد خرید با شماره فاکتور می باشد.

        </p>
    </div>
    <div class="uk-container">
        <h3 class="uk-heading-line uk-text-center uk-margin-top">
            <span style="font-family:persian;font-size: 1em">پیگیری سفارش اخرین سبد خرید شما</span>
        </h3>
    </div>
    <div class="ui grid uk-margin-top uk-margin-bottom">

        <div class="ten wide column">
            <h3 style="font-family: persian;text-align: right;direction: rtl;color:#028090">توضیحات:</h3>
            <p style="font-family:persian;direction:rtl;font-size: 1.2em">
                این پیگیری سفارش مربوط به سبد خرید با شماره فاکتور ۱۲۳۵۵۵۳۳۳ می باشد.
            </p>
            <h4 style="font-family: persian;text-align: right;direction: rtl">راهنمای هر یک از مراحل:</h4>
            <p style="font-family:persian;direction:rtl;font-size: 1.2em;line-height: 2;color:#028090">
                ۱- ثبت سفارش:
                <br /> ۲- مرحله بافت:
                <br /> ۳- مرحله تکمیل:
                <br /> ۴- تحویل به باربری:
                <br /> ۵- تحویل به مشتری:
            </p>



        </div>
        <div class="one wide column">
        </div>
        <div class="four wide column" style="direction:rtl">
            <div class="ui vertical fluid steps">
                <div class="disabled step" style="direction:rtl">

                    <div class="ui statistics">
                        <div class="teal statistic">
                            <div class="value" style="font-family:persian">
                                ۱
                            </div>
                        </div>
                    </div>
                    <div class="content uk-margin-right">
                        <div class="title" style="text-align:center;font-family: persian">ثبت سفارش</div>
                        <div class="description" style="text-align:center;font-family: persian">این مرحله با موفقیت تکیمل شده است.</div>
                    </div>
                </div>
                <div class="disabled step" style="direction:rtl">
                    <div class="ui statistics">
                        <div class="teal statistic">
                            <div class="value" style="font-family:persian">
                                ۲
                            </div>
                        </div>
                    </div>
                    <div class="content uk-margin-right">
                        <div class="title" style="text-align:center;font-family: persian">مرحله بافت</div>
                        <div class="description" style="text-align:center;font-family: persian">این مرحله با موفقیت تکیمل شده است.</div>
                    </div>
                </div>
                <div class="step" style="direction:rtl">
                    <div class="ui statistics">
                        <div class="teal statistic">
                            <div class="value" style="font-family:persian">
                                ۳
                            </div>
                        </div>
                    </div>
                    <div class="content uk-margin-right">
                        <div class="title" style="text-align:center;font-family: persian">مرحله تکمیل</div>
                        <div class="description" style="text-align:center;font-family: persian">این مرحله در حال پیگیری است.</div>
                    </div>
                </div>
                <div class="disabled step" style="direction:rtl">
                    <div class="ui statistics">
                        <div class="teal statistic">
                            <div class="value" style="font-family:persian">
                                ۴
                            </div>
                        </div>
                    </div>
                    <div class="content uk-margin-right">
                        <div class="title" style="text-align:center;font-family: persian">تحویل به باربری</div>
                        <div class="description" style="text-align:center;font-family: persian">این مرحله هنوز شروع نشده است.</div>
                    </div>
                </div>
                <div class="disabled step" style="direction:rtl">
                    <div class="ui statistics">
                        <div class="teal statistic">
                            <div class="value" style="font-family:persian">
                                ۵
                            </div>
                        </div>
                    </div>
                    <div class="content uk-margin-right">
                        <div class="title" style="text-align:center;font-family: persian">تحویل به مشتری</div>
                        <div class="description" style="text-align:center;font-family: persian">این مرحله هنوز شروع نشده است.</div>
                    </div>
                </div>

            </div>
        </div>

    </div>


</section>

{% include "footer.html" %}
{% endblock %}
