

{% extends "base.html" %}

{% load staticfiles %} 

 
 
 
{% block content %}

{% include "header.html" %}


<section>

    <div class="ui grid uk-section-muted uk-margin-top">
        <div class="one wide column uk-margin-top uk-section-muted wow fadeInUp" data-wow-delay="0.5s"></div>
        <div class="ten wide column uk-margin-top wow fadeInUp uk-section-muted" data-wow-delay="0.5s">
        {% if type == "direct" %}
            {% for cat in carpets_categories_parents %}
            {% comment %} <p class="uk-margin-right  uk-text-center" style="direction:rtl;font-family:persian;font-size:1.4em">{{cat.title}}</p> {% endcomment %}
            <div>
                <h3 class="uk-heading-line uk-text-center" style="font-family:persian;text-align: center"><span>{{cat.title}}</span></h3>
            </div> 
            <div class="uk-margin-top uk-margin-right" uk-slider="center: true">

                <div class="uk-position-relative uk-visible-toggle uk-light">

                    <ul class="uk-slider-items uk-child-width-1-3@s uk-grid">
            {% for c in carpets %}
            {% if c.admin_confirmed %}
            {% if c.category.title == cat.title or c.category.category_parent.title == cat.title %}
                        <a href="/product_page/carpet/{{c.id}}"><li>
                            <div class="uk-card uk-card-hover uk-card-default ">
                                <div class="uk-card-media-top" style="text-align:center">
                                    <img src="/media/{{c.image2}}" alt="">
                                </div>
                                <div class="uk-card-body">
                                    <p class="uk-card-title" style="font-family:persian;text-align:center;font-size:1.1em">{{c.title}}</p>
                                </div>
                            </div>
                        </li></a>
            {% endif %}
            {% endif %}
            {% endfor %}

                    </ul>

                    <a style="color:#ffffff" class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
                        uk-slider-item="previous"></a>
                    <a style="color:#ffffff" class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

                </div>

                <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

            </div>
            {% endfor %}
        {% endif %}
        </div>
        <div class="one wide column uk-margin-top uk-section-muted wow fadeInUp" data-wow-delay="0.5s"></div>
        <div class="four wide column uk-remove-padding-top">
            <div class="uk-card uk-card-default uk-card-body uk-width-1-1@s uk-height-1-1">
                <h4 style="font-family:persian;direction:rtl;text-align:center">دسته بندی محصولات</h4>
                <hr class="uk-divider-icon" />
                <ul uk-accordion style="direction:rtl">
                    {% for cat in carpets_categories %}
                    <li>
                        {% for c in cat %}
                        {% if forloop.counter0 == 0 %}
                        <a style="font-family:persian;font-size:1.2em" class="uk-accordion-title" href="#">{{c.title}}</a>
                        {% else %}
                        <div class="uk-accordion-content" style="font-family:persian;line-height:3" hidden>
                            <a style="text-decoration:none" class="uk-margin-right">{{c.title}}</a>
                            <br/>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>

</section>
{% block script%}
<script>
 $("body").addClass("uk-section-muted");
 </script>
{% endblock%}
{% include "footer.html" %}
{% endblock %}
