


{% extends "base.html" %} {% load staticfiles %} {% block content %} {% include "header.html" %}


<section>
   

<div class="ui grid uk-margin-bottom">
     <div class="row">
          <div class="ten wide column right floated column">
               <h3 class="uk-heading-line uk-text-center uk-margin-top"  style="font-family:vazir;direction:rtl;text-align:right;font-size:1.6em;color: #00bfd6"><span>{{product.title}}</span></h3>
               <div class="ui grid">
                    <div class="three wide column" style="direction:rtl;text-align:right">
                         <b class="uk-margin-top" style="font-family: vazir ;text-align: right;font-size: 1.2em;color: rgb(100, 98, 98);direction: rtl">ویژگی های محصول</b>
                         <p class="uk-margin-top" style="font-family: vazir ;text-align: right;font-size: 1em;line-height:2;color: rgb(100, 98, 98);direction: rtl">
                              <i class="grey  circle icon"></i> ۱۰۰۰ شانه
                              <br/>
                              <i class="grey  circle icon"></i> ۱۰۰۰ شانه
                              <br />
                              <i class="grey  circle icon"></i> ۱۰۰۰ شانه
                              <br />
                              <i class="grey  circle icon"></i> ۱۰۰۰ شانه
                              <br />
                              <i class="grey  circle icon"></i> ۱۰۰۰ شانه
                         </p>

                    </div>
                    <div class="thirteen wide column" style="direction:rtl;text-align:right">
                         <b class="uk-margin-top" style="font-family: vazir ;text-align: right;font-size: 1.2em;color: rgb(100, 98, 98);direction: rtl">دسته بندی: فرش دستباف
                         </b>
                         <p class="uk-margin-top" style="font-family: vazir ;text-align: right;font-size: 1.2em;color: rgb(100, 98, 98);direction: rtl">
                              انتخاب رنگ: 
                              
                             {% if "بنفش" in product.color %}
                    <button data-pcolor="بنفش" data-ecolor="purple" id="btn1" class="ui circular purple icon button" title="بنفش"></button>
                    {% endif %}
                    {% if "آبی" in product.color %}
                    <button id="btn2" data-pcolor="آبی" data-ecolor="blue" class="ui circular teal icon button"  title="آبی"></button>
                    {% endif %}
                    {% if "قرمز" in product.color %}
                    <button id="btn3"  data-pcolor="قرمز" data-ecolor="red" class="ui circular red icon button" title="قرمز"></button>
                    {% endif %}
                    {% if "سرمه ای" in product.color %}
                    <button id="btn4" data-pcolor="سرمه ای" data-ecolor="violet" class="ui circular violet icon button" title="سرمه ای"></button>
                    {% endif %}
                    {% if "کرمی" in product.color %}
                    <button id="btn5" data-pcolor="کرمی" data-ecolor="brown" class="ui circular ivory icon button" title="کرمی"></button>
                    {% endif %}


                              <span id="choose" class="uk-margin-medium-right">رنگ انتخاب شده: 
                                   <span id="color_selected" style="color:red"></span>
</span>
                         </p>
                              <p class="uk-margin-top" style="font-family: vazir ;text-align: right;font-size: 1.2em;line-height:2;color: rgb(100, 98, 98);direction: rtl">جهت
                                   مشاوره در انتخاب رنگ فرش به صفحه راهنمای خرید مراجعه فرمایید.</p>

                         <p class="uk-margin-top" style="font-family: vazir ;text-align: right;font-size: 1.2em;color: rgb(100, 98, 98);direction: rtl">
                              انتخاب سایز فرش: <select class="ui small dropdown">
                                   <option value="2">۱۰ متری</option>
                                   <option value="1">۱۲ متری</option>
                                   <option value="0">۱۴ متری</option>
                              </select>
                         
                         
                         </p>

                         <hr class="uk-divider-icon">
                         <b class="uk-margin-top" style="font-family: vazir ;text-align: right;font-size: 1.2em;color: rgb(100, 98, 98);direction: rtl">
                              <i class="yellow large certificate icon"></i> گارانتی :  {{product.guarantee_len}}
                         </b>
                         <p class="uk-margin-top uk-margin-bottom" style="font-family: vazir ;text-align: right;font-size: 1.2em;line-height:2;color: rgb(100, 98, 98);direction: rtl">گارانتی این محصول شامل:گارانتی اصالت و سلامت فیزیکی کالا می شود</p>
                         <div class="uk-alert-primary" uk-alert>
                              <b class="" style="font-family: vazir ;text-align: center;font-size: 1.2em;color: rgb(100, 98, 98);direction: rtl"><i class="red large truck icon"></i>  مدت زمان تحویل</b>
                         <p class="" style="font-family: vazir ;text-align: right;font-size: 1.2em;line-height:2;color: rgb(100, 98, 98);direction: rtl">{{product.delivery_time}}</p>
                         </div>

                    </div>

               </div>

               <div style="direction:rtl;text-align:center">
                    <br/>
                                   <b class="uk-margin-medium-top uk-margin-bottom" style="font-family: vazir ;text-align: center;font-size: 1.7em;color: #fb3449;direction: rtl;">قیمت:{{product.price1}} تومان</b>
<br/>
                <form method="post" action="/order/">
                    {% csrf_token %}
                    <input name="price" hidden value="1000000">
                    <input name="color" hidden value="آبی">
                    <input name="numbers" hidden value="1">
                    <input name="product" hidden value="{{product.id}}">
                    <div style="direction:rtl;text-align:center">
                        <button type="submit" class="ui inverted primary button uk-margin-medium-top" style="font-family: persian;font-size: 1.2em">
                         <span class="uk-margin-small-left"
                         uk-icon="cart"></span>     افزودن به سبد خرید   </button>
                    </div>
                </form>
                   
                        
               </div>
               <hr />
            
          </div>

          <div class="five wide column left floated column">
               <div style="direction:rtl ; text-align:center">
                    <img class="uk-margin-top img" width="300" height="300" src="{% static 'img/carpet3.jpg' %}" style="text-align:center" />
               </div>
               <div class="uk-child-width-1-3@m uk-margin-top uk-margin-bottom" style="direction:rtl" uk-grid
                    uk-lightbox="animation: slide">
                    <div>
                        
                              <img class="img" src="{% static 'img/carpet3.jpg' %}" alt="">
                        
                    </div>
                    <div>
                        
                              <img class="img" src="{% static 'img/carpet3.jpg' %}" alt="">
                        
                    </div>
                    <div>
                        
                              <img class="img" src="{% static 'img/carpet3.jpg' %}" alt="">
                        
                    </div>
               </div>
          </div>
     </div>




</div>

<div class="uk-container uk-section-muted">
     <p class="uk-margin-top" style="font-family:vazir;direction:rtl;text-align:center;font-size:1.5em;color: rgb(105, 103, 103)">معرفی
          اجمالی</p>
     
     <p style="font-family: vazir ;text-align: right;font-size: 1.1em;line-height:2;color: rgb(100, 98, 98);direction: rtl">
         {{product.description}}
     </p>
     <div style="font-family:persian">
          <ul class="uk-flex-right" uk-tab="connect: #component-tab-right; animation: uk-animation-fade">
     
               <li class="uk-active"><a href="#" style="font-size:1.2em">مشخصات محصول</a>
               </li>
          </ul>
          <ul id="component-tab-right" class="uk-switcher">
     
               <li>
                    <table class="ui teal celled table uk-margin-bottom">
     
                         <tbody style="font-family:persian;text-align:right">
                              <tr>
                                   <td>{{product.id}}</td>
                                   <td>کد کالا</td>
     
                              </tr>
                              <tr>
                                    <td>{{product.title}}</td>
                                   <td>نام محصول</td>
                              </tr>
                              <tr>
                                   <td>{{product.brush_num}}</td>
                                   <td>تعداد شانه</td>
                              </tr>
                              <tr>
                                        <td>{{product.density}}</td>
                                        <td>تراکم</td>
                                </tr>
                                <tr>
                                        <td>{{product.colors_num}}</td>
                                        <td>تعداد رنگ</td>
                                </tr>
                              <tr>
                                    <td>{{product.yarn_type}}</td>
                                   <td>نوع نخ</td>
                              </tr>
                              <tr>
                                   <td>{{product.wool_yarn_type}}</td>
                                   <td>نوع نخ پود</td>
                              </tr>
                               <tr>
                                        <td>پرزدهی</td>
                                        {% if product.antipilling %}
                                        <td>ندارد</td>
                                        {% else %}
                                        <td>ندارد</td>
                                        {% endif %}
                                </tr>
                                <tr>
                                        <td>{{product.yarn_height}}</td>
                                        <td>ارتفاع نخ خواب</td>
                                </tr>
                               <tr>
                                        <td>{{product.weight}}</td>
                                        <td>وزن</td>
                                    </tr>
                                    <tr>
                                    <tr>
                                        <td> {{product.size1}}
                                            {% if product.size2 %}
                                                - {{product.size2}}
                                            {% endif %}
                                            {% if product.size3 %}
                                                - {{product.size3}}
                                            {% endif %}
                                            {% if product.size4 %}
                                                - {{product.size4}}
                                            {% endif %}
                                            {% if product.size5 %}
                                                - {{product.size5}}
                                            {% endif %}
                                        </td>
                                        <td>اندازه </td>
                                    </tr>
                              <tr>
                                   <td style="direction:rtl">{{product.guarantee_len}} </td>
                                   <td>گارانتی</td>
                              </tr>
                              <tr>
                                   <td>{{product.delivery_time}} بعد از سفارش</td>
                                   <td>مدت زمان تحویل</td>
                              </tr>
                         </tbody>
                    </table>
               </li>
     
          </ul>
     
     </div>
</div>


<div class="uk-container uk-margin-bottom">
     <hr class="uk-divider-icon uk-margin-top uk-margin-bottom">
     <p class="uk-margin-right  uk-text-center" style="direction:rtl;font-family:persian;font-size:1.4em">محصولات مرتبط</p>
     <div class="uk-margin-top uk-margin-right wow slideInRight" data-wow-delay="0.5s" uk-slider="center: true">
     
          <div class="uk-position-relative uk-visible-toggle uk-light">
     
               <ul class="uk-slider-items uk-child-width-1-4@s uk-grid">
                    <li>
                         <div class="uk-card uk-card-hover uk-card-default">
                              <div class="uk-card-media-top" style="text-align:center">
                                   <img src="{% static 'img/carpet3.jpg' %}" alt="">
                              </div>
                              <div class="uk-card-body">
                                   <p class="uk-card-title" style="font-family:persian;text-align:center;font-size:1.1em">فرش</p>
                              </div>
                         </div>
                    </li>
     
                    <li>
                         <div class="uk-card uk-card-hover uk-card-default">
                              <div class="uk-card-media-top" style="text-align:center">
                                   <img src="{% static 'img/carpet3.jpg' %}" alt="">
                              </div>
                              <div class="uk-card-body">
                                   <p class="uk-card-title" style="font-family:persian;text-align:center;font-size:1.1em">فرش</p>
                              </div>
                         </div>
                    </li>
     
                    <li>
                         <div class="uk-card uk-card-hover uk-card-default">
                              <div class="uk-card-media-top" style="text-align:center">
                                   <img src="{% static 'img/carpet3.jpg' %}" alt="">
                              </div>
                              <div class="uk-card-body">
                                   <p class="uk-card-title" style="font-family:persian;text-align:center;font-size:1.1em">فرش</p>
                              </div>
                         </div>
                    </li>
     
                    <li>
                         <div class="uk-card uk-card-hover uk-card-default">
                              <div class="uk-card-media-top" style="text-align:center">
                                   <img src="{% static 'img/carpet3.jpg' %}" alt="">
                              </div>
                              <div class="uk-card-body">
                                   <p class="uk-card-title" style="font-family:persian;text-align:center;font-size:1.1em">فرش</p>
                              </div>
                         </div>
                    </li>
                    <li>
                         <div class="uk-card uk-card-hover uk-card-default">
                              <div class="uk-card-media-top" style="text-align:center">
                                   <img src="{% static 'img/carpet3.jpg' %}" alt="">
                              </div>
                              <div class="uk-card-body">
                                   <p class="uk-card-title" style="font-family:persian;text-align:center;font-size:1.1em">فرش</p>
                              </div>
                         </div>
                    </li>
     
                    <li>
                         <div class="uk-card uk-card-hover uk-card-default">
                              <div class="uk-card-media-top" style="text-align:center">
                                   <img src="{% static 'img/carpet3.jpg' %}" alt="">
                              </div>
                              <div class="uk-card-body">
                                   <p class="uk-card-title" style="font-family:persian;text-align:center;font-size:1.1em">فرش</p>
                              </div>
                         </div>
                    </li>
     
                    <li>
                         <div class="uk-card uk-card-hover uk-card-default">
                              <div class="uk-card-media-top" style="text-align:center">
                                   <img src="{% static 'img/carpet3.jpg' %}" alt="">
                              </div>
                              <div class="uk-card-body">
                                   <p class="uk-card-title" style="font-family:persian;text-align:center;font-size:1.1em">فرش</p>
                              </div>
                         </div>
                    </li>
     
               </ul>
     
               <a style="color:#ffffff" class="uk-position-center-left uk-position-small uk-hidden-hover" href="#"
                    uk-slidenav-previous uk-slider-item="previous"></a>
               <a style="color:#ffffff" class="uk-position-center-right uk-position-small uk-hidden-hover" href="#"
                    uk-slidenav-next uk-slider-item="next"></a>
     
          </div>
     
          <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
     
     </div>
</div>


</section>

{% include "footer.html" %} {% endblock %}
{% block script %}

   <script>
    new Zooming().listen('.img')

     $('#btn1').click(function () {
          $('.ic').remove();
             $('#color_selected').remove()
             $("#choose").append("<span id='color_selected' style='color:"+$(this).data('ecolor')+"'>"+$(this).data('pcolor')+"</span>");
             
          $("#btn1").append("<i class='ic thick icon' style='color: white;' ></i>");

     });
     $('#btn2').click(function () {
          $('.ic').remove();
            $('#color_selected').remove()
             $("#choose").append("<span id='color_selected' style='color:"+$(this).data('ecolor')+"'>"+$(this).data('pcolor')+"</span>");
             
          $("#btn2").append("<i class='ic thick icon' style='color: white;' ></i>");

     });
     $('#btn3').click(function () {
          $('.ic').remove();
 $('#color_selected').remove()
             $("#choose").append("<span id='color_selected' style='color:"+$(this).data('ecolor')+"'>"+$(this).data('pcolor')+"</span>");
             
          $("#btn3").append("<i class='ic thick icon' style='color: white;' ></i>");

     });
       $('#btn4').click(function () {
           $('.ic').remove();
           $('#color_selected').remove()
             $("#choose").append("<span id='color_selected' style='color:"+$(this).data('ecolor')+"'>"+$(this).data('pcolor')+"</span>");
             
          $("#btn4").append("<i class='ic thick icon' style='color: white;' ></i>");

     });
       $('#btn5').click(function () {
           $('.ic').remove();
                $('#color_selected').remove()
             $("#choose").append("<span id='color_selected' style='color:"+$(this).data('ecolor')+"'>"+$(this).data('pcolor')+"</span>");
             
          $("#btn5").append("<i class='ic thick icon' style='color: white;' ></i>");

     });
 $('.ui.dropdown').dropdown();

      </script>


 {% endblock %} 
