

{% extends "base.html" %} {% load staticfiles %} {% block content %} {% include "header.html" %}
<section>

<div class="uk-container uk-margin-top">
     <div class="uk-margin-top">
          <h3 class="uk-heading-line uk-text-center" style="font-family:persian;text-align: center"><span>پروفایل من</span></h3>
     </div>
</div>
  <div class="uk-container">
          <div class="uk-child-width-1-1@s" uk-grid>
               <div>
                    <div class="uk-margin-top" uk-grid>
                         <div class="uk-width-auto@m uk-flex-last@m">
                               <ul style="line-height:2" class="uk-tab-right" id="tab" uk-tab="connect: #component-tab-right; animation: uk-animation-fade">
                                   <li><a id="font1" style="text-align:right;font-family: persian;font-size: 1.3em" href="#">مشخصات فردی</a></li>
                                  
                                   <li><a id="font1" style="text-align:right;font-family: persian;font-size: 1.3em" href="#">تغییر رمز عبور</a></li>
                              </ul>
                         </div>
                         <div class="uk-width-expand@m">
                              <ul id="component-tab-right" class="uk-switcher">
                                  
                                   <li>
                                       <div class="ui grid">
                                             <div class="six wide column"></div>
                                            <div class="six wide column">
                                                  <form class="uk-form-stacked">

                                                       <div class="uk-margin">
                                                            <label class="uk-form-label" for="form-stacked-text" style="font-family:persian;direction: rtl;text-align: right;">نام و نام خانوادگی</label>
                                                            <div class="uk-form-controls">
                                                                 <input class="uk-input" id="form-stacked-text" style="font-family:persian;direction: rtl;text-align: center;" type="text" placeholder="امین عبداللهی پور">
                                                            </div>
                                                       </div>
                                                       <div class="uk-margin">
                                                            <label class="uk-form-label" for="form-stacked-text" style="font-family:persian;direction: rtl;text-align: right;">شماره تماس</label>
                                                            <div class="uk-form-controls">
                                                                 <input class="uk-input" id="form-stacked-text" style="font-family:persian;direction: rtl;text-align: center;"
                                                                      type="text" placeholder="۰۹۱۲۲۱۳۴۵۱۲">
                                                            </div>
                                                       </div>
                                                       <div class="uk-margin">
                                                            <label class="uk-form-label" for="form-stacked-text" style="font-family:persian;direction: rtl;text-align: right;">پست الکترونیک</label>
                                                            <div class="uk-form-controls">
                                                                 <input class="uk-input" id="form-stacked-text" style="font-family:latin;direction: rtl;text-align: center;"
                                                                      type="text" placeholder="a.abdolahi1996@gmail.com">
                                                            </div>
                                                       </div>
                                                       <div class="uk-margin">
                                                            <label class="uk-form-label" for="form-stacked-text" style="font-family:persian;direction: rtl;text-align: right;">کد پستی</label>
                                                            <div class="uk-form-controls">
                                                                 <input class="uk-input" id="form-stacked-text" style="font-family:persian;direction: rtl;text-align: center;"
                                                                      type="text" placeholder="۱۲۴۴۴۹۹۲">
                                                            </div>
                                                       </div>
                                                       
                                                       <div class="uk-margin" style="direction:rtl;text-align:right">
                                                            <label style="font-family:persian;direction: rtl;text-align: right">آدرس منزل</label>
                                                            <textarea class="uk-textarea" rows="3" style="font-family:persian;direction:rtl">تهران - خیابان اکبریان آذر</textarea>
                                                       </div>
                                                       <div class="uk-margin-bottom uk-margin-top" style="text-align: center">
                                                            <button style="font-size: .8em ;font-family:persian" class="uk-align-center primary ui button ">ذخیره اطلاعات
                                                            </button>
                                                       </div>
                                                  </form>
                                            </div>
                                       </div>
                                   </li>
                                   <li>
                                   <div class="ui grid">
                                        <div class="six wide column"></div>
                                        <div class="six wide column">
                                             <form class="uk-form-stacked">
                                   
                                                  
                                                  <div class="uk-margin">
                                                       <label class="uk-form-label" for="form-stacked-text" style="font-family:persian;direction: rtl;text-align: right;">رمز عبور فعلی</label>
                                                       <div class="uk-form-controls">
                                                            <input class="uk-input" id="form-stacked-text" style="font-family:persian;direction: rtl;text-align: center;"
                                                                 type="text">
                                                       </div>
                                                  </div>
                                                  <div class="uk-margin">
                                                       <label class="uk-form-label" for="form-stacked-text" style="font-family:persian;direction: rtl;text-align: right;">رمز عبور جدید</label>
                                                       <div class="uk-form-controls">
                                                            <input class="uk-input" id="form-stacked-text" style="font-family:persian;direction: rtl;text-align: center;"
                                                                 type="text">
                                                       </div>
                                                  </div>
                                                  <div class="uk-margin">
                                                       <label class="uk-form-label" for="form-stacked-text" style="font-family:persian;direction: rtl;text-align: right;">تکرار رمز عبور</label>
                                                       <div class="uk-form-controls">
                                                            <input class="uk-input" id="form-stacked-text" style="font-family:persian;direction: rtl;text-align: center;"
                                                                 type="text">
                                                       </div>
                                                  </div>
                                                  <div class="uk-margin-bottom uk-margin-top" style="text-align: center">
                                                       <button style="font-size: .8em ;font-family:persian" class="uk-align-center primary ui button ">ذخیره اطلاعات
                                                       </button>
                                                  </div>
                                   
                                                  
                                   
                                             </form>
                                        </div>
                                   </div>
                                   </li>
                              </ul>
                         </div>
                    </div>
               </div>
          </div>
     </div>

</section>
     {% include "footer.html" %} {% endblock %}