

{% extends "base.html" %}

{% load staticfiles %} 

 
 
 
{% block content %}

{% include "header.html" %}

<section>
      <div class="uk-container uk-container-small uk-margin-medium-top wow fadeInUp" data-wow-delay="0.5s">
            <h3 style="font-family: persian;text-align: right;direction: rtl;color:#028090">سبد سفارش شما:</h3>
            {% for item in items %}
            <div class="ui segment">
                  <div class="ui grid">
                        <div class="one wide column" style="direction:rtl">
                              <button onclick="location.href='/order/remove/{{item.id}}'" class="circular mini red ui icon button uk-margin-medium-top">
                                    <i class="icon remove"></i>
                              </button>
                        </div>
                        <div class="three wide column">

                              <p class="uk-margin-medium-top" style="direction:rtl;font-family: persian">قیمت کل: {{item.total_price}}</p>
                        </div>

                        <div class="two wide column">
                              <p class="uk-margin-medium-top" style="direction:rtl;font-family: persian;text-align: center">تعداد: {{item.numbers}}</p>
                        </div>
                        <div class="three wide column">
                              <p class="uk-margin-medium-top" style="direction:rtl;font-family: persian">قیمت واحد: {{item.price}}</p>

                        </div>
                        <div class="four wide column">
                              <img class="ui tiny centered floated right image uk-margin-left" src="/media/{{item.item_carpet.image2}}">
                              <p style="direction:rtl;font-family: persian">{{item.item_carpet.title}}</p>
                              <p style="direction:rtl;font-family: persian">رنگ:
                    {% if item.color == "بنفش" %}
                    <button class="circular mini purple ui icon button" title="بنفش">
                    {% elif item.color == "آبی" %}
                    <button class="circular mini teal ui icon button" title="آبی">
                    {% elif item.color == "قرمز" %}
                    <button class="circular mini red ui icon button" title="قرمز">
                    {% elif item.color == "سرمه ای" %}
                    <button class="circular mini violet ui icon button" title="سرمه ای">
                    {% elif item.color == "کرمی" %}
                    <button class="circular mini ivory ui icon button" title="کرمی">
                    {% endif %}
                          <i class="icon"></i>
                                    </button>
                              </p>
                        </div>

                  </div>
            </div>
            {% endfor %}
      <div class="uk-margin-medium-top uk-margin-medium-bottom" style="text-align:center">
            <!-- <button style="font-family:persian;font-size:1em" class="ui primary button uk-margin-bottom">ثبت سفارش</button> -->
            <div class="ui card centered" style="text-align:center">
                  <div class="content">
                        <p style="font-family:persian;font-size:1.2em">
                              مبلغ قابل پرداخت : {{bag.total_price}}
                        </p>
                  </div>
                  <div class="extra content">
                        <div class="center aligned author">
                              <div class="ui animated positive button" tabindex="0">
                                    <div style="font-family:persian" class="visible content">تایید و ادامه ثبت سفارش</div>
                                  {% if bag.total_price != 0 %}
                                    <div class="hidden content" onclick="location.href='/order_registration/{{bag.id}}/'">
                                  {% else %}
                                        <div class="hidden content">
                                  {% endif %}
                                          <i class="left arrow icon"></i>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>

</section>

{% include "footer.html" %}
{% endblock %}
