


{% extends "base.html" %}

{% load staticfiles %} 

 
 
 
{% block content %}

{% include "header.html" %}

<section>
    <div class="uk-container uk-container-small uk-margin-medium-top">
        <h3 style="font-family: persian;text-align: right;direction: rtl;color:#028090">انتخاب آدرس تحویل سفارش:</h3>
        <div class="ui segment">
            <div style="direction:rtl;font-family:persian;">

                <p>آدرس: {{bag.owner.profile.address}}</p>
                <p>شماره تماس: {{bag.owner.profile.phonenumber}}</p>
                <p>کد پستی: {{bag.owner.profile.zip_code}}</p>
                <div style="text-align:left">
                    <button class="ui teal button" style="font-family:persian;font-size:.9em" uk-toggle="target: #modal-example">تغییر اطلاعات ارسال</button>
                </div>
                <div id="modal-example" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body">
                        <button class="uk-modal-close-default uk-margin" type="button" uk-close></button>
                        <form dir="rtl" method="post" action="/update_address/{{bag.id}}/" class="ui form uk-margin-top">
                            {% csrf_token %}
                            <div class="ui form">
                                <div class="two fields">
                                    <div class="field">
                                        <label style="direction:rtl;font-family: persian;color:#616163">کد پستی</label>
                                        <input required name="zip_code" class="uk-input uk-form-width-medium" style="font-family:persian;direction:rtl" type="text">
                                    </div>
                                    <div class="field">
                                        <label style="direction:rtl;font-family: persian;color:#616163">شماره تماس</label>
                                        <input required name="phonenumber" class="uk-input uk-form-width-medium" style="font-family:latin" type="text">

                                    </div>
                                </div>
                                <div class="field">
                                    <label style="direction:rtl;font-family: persian;color:#616163">آدرس منزل</label>
                                    <textarea required name="address" class="uk-textarea" rows="3" style="font-family:persian;direction:rtl"></textarea>
                                </div>
                            </div>

                            <div class="uk-margin-top" style="text-align:center">
                                <button type="submit" class="ui blue button" style="font-family:persian;font-size:.9em">ثبت اطلاعات</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-margin" style="text-align:center">
        <div class="center aligned author">
            <div onclick="location.href = '/after_sabte_sefaresh/{{bag_id}}'" class="ui animated positive button" tabindex="0">
                <div style="font-family:persian" class="visible content">ثبت سفارش</div>
                <div class="hidden content">
                    <i class="right arrow icon"></i>
                </div>
            </div>
        </div>

    </div>
</section>


{% include "footer.html" %}
{% endblock %}
