

{% extends "base.html" %}

{% load staticfiles %} 

 
 
 
{% block content %}

{% include "header.html" %}


<section>




     {% comment %} <div class="ui grid">
        <div class="one wide column"></div>
        <div class="ten wide column uk-margin-top wow fadeInUp" data-wow-delay="0.5s">

          <div class="uk-container">
                  <h3 class="uk-heading-line uk-text-center uk-margin-medium-top uk-margin-medium-bottom">
                        <span style="font-family:persian;font-size: 1em">نتایج جستجو</span>
                  </h3>
            </div>            <div class="uk-child-width-1-3@m" uk-grid>
                <div class="wow fadeInUp" data-wow-delay="0.5s" data-wow-offset="50">
                    <div class="uk-card uk-card-default" width="250" height="250">
                        <div class="uk-card-media-top">
                <img  src="{% static 'img/carpet1.JPG' %}" alt="">  
                                      </div>
                        <div class="uk-card-body ">
                            <h3 class="uk-card-title" style="text-align:center;font-family:persian;font-size: 1.4em">فرش دستباف</h3>
                            <!-- <p class="" style="text-align:right;font-family:persian;direction: rtl;line-height: 2;">فرش دست‌بافت نقشه موج مهر ۲۱۳۴، رجشمار۶۰، نوع چله ابریشم، تعداد رنگ۱۵، محل بافت تبریز، الیاف و نوع پرز کرک و ابریشم در شهر
                                                       فرش عرضه می‌شود.</p> -->
                        </div>
                    </div>
                </div>
                <div class="wow fadeInUp" data-wow-delay="0.5s" data-wow-offset="50">
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img  src="{% static 'img/carpet2.JPG' %}" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title" style="text-align:center;font-family:persian;font-size: 1.4em">تابلو فرش</h3>
                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p> -->
                        </div>
                    </div>
                </div>
                <div class="wow fadeInUp" data-wow-delay="0.5s" data-wow-offset="50">
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                             <img  src="{% static 'img/carpet3.JPG' %}" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title" style="text-align:center;font-family:persian;font-size: 1.4em">فرش کودک</h3>
                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p> -->
                        </div>
                    </div>
                </div>
                <div class="wow fadeInUp" data-wow-delay="0.5s" data-wow-offset="50">
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                             <img  src="{% static 'img/carpet4.JPG' %}" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title" style="text-align:center;font-family:persian;font-size: 1.4em">گلیم و قالیچه</h3>
                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p> -->
                        </div>
                    </div>
                </div>
                <div class="wow fadeInUp" data-wow-delay="0.5s" data-wow-offset="50">
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img  src="{% static 'img/carpet3.JPG' %}" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title" style="text-align:center;font-family:persian;font-size: 1.4em">فرش کودک</h3>
                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p> -->
                        </div>
                    </div>
                </div>
                <div class="wow fadeInUp" data-wow-delay="0.5s" data-wow-offset="50">
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img  src="{% static 'img/carpet2.JPG' %}" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title" style="text-align:center;font-family:persian;font-size: 1.4em">گلیم و قالیچه</h3>
                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="one wide column"></div>
        <div class="four wide column">
            <div class="uk-card uk-card-default uk-card-body uk-width-1-1@s uk-height-1-1">
                <h4 style="font-family:persian;direction:rtl;text-align:center">دسته بندی محصولات</h4>
                <hr class="uk-divider-icon" />
                <ul uk-accordion style="direction:rtl">
                    <li>
                        <a style="font-family:persian;font-size:1.2em" class="uk-accordion-title" href="#">فرش دستباف</a>
                        <div class="uk-accordion-content" style="font-family:persian;line-height:3">
                            <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                            <br />
                            <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                            <br />
                            <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                            <br />
                            <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                        </div>
                    </li>
                    <li>
                        <a style="font-family:persian;font-size:1.2em" class="uk-accordion-title" href="#">تابلو فرش</a>
                        <div class="uk-accordion-content" style="font-family:persian;line-height:3">
                            <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                            <br />
                            <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                            <br />
                            <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                            <br />
                            <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                        </div>
                    </li>
                    <li>
                        <a style="font-family:persian;font-size:1.2em" class="uk-accordion-title" href="#">فرش کودک</a>
                        <div class="uk-accordion-content" style="font-family:persian;line-height:3">
                            <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                            <br />
                            <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                            <br />
                            <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                            <br />
                            <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                        </div>
                    </li>
                    <li>
                        <a style="font-family:persian;font-size:1.2em" class="uk-accordion-title" href="#">پادری</a>
                        <div class="uk-accordion-content" style="font-family:persian;line-height:3">
                            <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                            <br />
                            <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                            <br />
                            <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                            <br />
                            <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                        </div>
                    </li>
                    <li>
                        <a style="font-family:persian;font-size:1.2em" class="uk-accordion-title" href="#">فرش ماشینی</a>
                        <div class="uk-accordion-content" style="font-family:persian;line-height:3">
                            <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                            <br />
                            <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                            <br />
                            <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                            <br />
                            <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                        </div>
                    </li>
                    <li>
                        <a style="font-family:persian;font-size:1.2em" class="uk-accordion-title" href="#">گلیم و قالی</a>
                        <div class="uk-accordion-content" style="font-family:persian;line-height:3">
                            <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                            <br />
                            <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                            <br />
                            <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                            <br />
                            <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div> {% endcomment %}
      <div class="ui grid">
          <div class="one wide column"></div>
          <div class="ten wide column uk-margin-top wow fadeInUp" data-wow-delay="0.5s">
     
<h3 class="uk-heading-line uk-text-center uk-margin-medium-bottom" style="font-family:persian;text-align: center"><span>
          نتایج جستجو</span></h3>
               <div class="uk-child-width-1-3@m" uk-grid>
                    <div class="wow fadeInUp" data-wow-delay="0.5s" data-wow-offset="50">
                         <div class="uk-card uk-card-default" width="250" height="250">
                              <div class="uk-card-media-top">
                                   <img style="text-align:center" src="{% static 'img/carpet2.jpg' %}" alt="">
                              </div>
                              <div class="uk-card-body ">
                                   <h3 class="uk-card-title" style="text-align:center;font-family:persian;font-size: 1.4em">فرش دستباف</h3>
                                   <!-- <p class="" style="text-align:right;font-family:persian;direction: rtl;line-height: 2;">فرش دست‌بافت نقشه موج مهر ۲۱۳۴، رجشمار۶۰، نوع چله ابریشم، تعداد رنگ۱۵، محل بافت تبریز، الیاف و نوع پرز کرک و ابریشم در شهر
                                                       فرش عرضه می‌شود.</p> -->
                              </div>
                         </div>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="0.5s" data-wow-offset="50">
                         <div class="uk-card uk-card-default">
                              <div class="uk-card-media-top">
                                   <img  src="{% static 'img/carpet3.jpg' %}" alt="">
                              </div>
                              <div class="uk-card-body">
                                   <h3 class="uk-card-title" style="text-align:center;font-family:persian;font-size: 1.4em">تابلو فرش</h3>
                                   <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p> -->
                              </div>
                         </div>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="0.5s" data-wow-offset="50">
                         <div class="uk-card uk-card-default">
                              <div class="uk-card-media-top">
                                   <img  src="{% static 'img/carpet4.jpg' %}" alt="">
                              </div>
                              <div class="uk-card-body">
                                   <h3 class="uk-card-title" style="text-align:center;font-family:persian;font-size: 1.4em">فرش کودک</h3>
                                   <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p> -->
                              </div>
                         </div>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="0.5s" data-wow-offset="50">
                         <div class="uk-card uk-card-default">
                              <div class="uk-card-media-top">
                                   <img  src="{% static 'img/carpet2.jpg' %}" alt="">
                              </div>
                              <div class="uk-card-body">
                                   <h3 class="uk-card-title" style="text-align:center;font-family:persian;font-size: 1.4em">گلیم و قالیچه</h3>
                                   <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p> -->
                              </div>
                         </div>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="0.5s" data-wow-offset="50">
                         <div class="uk-card uk-card-default">
                              <div class="uk-card-media-top">
                                   <img  src="{% static 'img/carpet1.jpg' %}" alt="">
                              </div>
                              <div class="uk-card-body">
                                   <h3 class="uk-card-title" style="text-align:center;font-family:persian;font-size: 1.4em">فرش کودک</h3>
                                   <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p> -->
                              </div>
                         </div>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="0.5s" data-wow-offset="50">
                         <div class="uk-card uk-card-default">
                              <div class="uk-card-media-top">
                                   <img  src="{% static 'img/carpet1.jpg' %}" alt="">
                              </div>
                              <div class="uk-card-body">
                                   <h3 class="uk-card-title" style="text-align:center;font-family:persian;font-size: 1.4em">گلیم و قالیچه</h3>
                                   <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p> -->
                              </div>
                         </div>
                    </div>
               </div>
          </div>
          <div class="one wide column"></div>
          <div class="four wide column">
               <div class="uk-card uk-card-default uk-card-body uk-width-1-1@s uk-height-1-1">
                    <h4 style="font-family:persian;direction:rtl;text-align:center">دسته بندی محصولات</h4>
                    <hr class="uk-divider-icon" />
                    <ul uk-accordion style="direction:rtl">
                         <li>
                              <a style="font-family:persian;font-size:1.2em" class="uk-accordion-title" href="#">فرش دستباف</a>
                              <div class="uk-accordion-content" style="font-family:persian;line-height:3">
                                   <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                                   <br />
                                   <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                                   <br />
                                   <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                                   <br />
                                   <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                              </div>
                         </li>
                         <li>
                              <a style="font-family:persian;font-size:1.2em" class="uk-accordion-title" href="#">تابلو فرش</a>
                              <div class="uk-accordion-content" style="font-family:persian;line-height:3">
                                   <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                                   <br />
                                   <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                                   <br />
                                   <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                                   <br />
                                   <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                              </div>
                         </li>
                         <li>
                              <a style="font-family:persian;font-size:1.2em" class="uk-accordion-title" href="#">فرش کودک</a>
                              <div class="uk-accordion-content" style="font-family:persian;line-height:3">
                                   <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                                   <br />
                                   <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                                   <br />
                                   <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                                   <br />
                                   <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                              </div>
                         </li>
                         <li>
                              <a style="font-family:persian;font-size:1.2em" class="uk-accordion-title" href="#">پادری</a>
                              <div class="uk-accordion-content" style="font-family:persian;line-height:3">
                                   <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                                   <br />
                                   <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                                   <br />
                                   <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                                   <br />
                                   <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                              </div>
                         </li>
                         <li>
                              <a style="font-family:persian;font-size:1.2em" class="uk-accordion-title" href="#">فرش ماشینی</a>
                              <div class="uk-accordion-content" style="font-family:persian;line-height:3">
                                   <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                                   <br />
                                   <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                                   <br />
                                   <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                                   <br />
                                   <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                              </div>
                         </li>
                         <li>
                              <a style="font-family:persian;font-size:1.2em" class="uk-accordion-title" href="#">گلیم و قالی</a>
                              <div class="uk-accordion-content" style="font-family:persian;line-height:3">
                                   <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                                   <br />
                                   <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                                   <br />
                                   <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                                   <br />
                                   <a style="text-decoration:none" class="uk-margin-right">فرش یک</a>
                              </div>
                         </li>
                    </ul>
               </div>
          </div>
     </div>

    

     


</section>






{% include "footer.html" %}
{% endblock %}
