

{% extends "base.html" %}

{% load staticfiles %} 

 
 
 
{% block content %}

{% include "header.html" %}

<section>

        <div class="uk-container uk-container-small uk-margin-medium-top uk-margin-medium-bottom">
                <h3 style="font-family: persian;text-align: right;direction: rtl;color:#028090">ثبت نام در شهر فرش:</h3>
                <div class="ui form">
                <form method="post">
                        {% csrf_token %}
                        <div class="three fields">
                                <div class="required field">
                                        <label style="direction:rtl;font-family: persian">پست الکترونیک</label>
                                        <input name="email" class="uk-input uk-form-width-medium" style="font-family:latin" type="text">

                                </div>
                                <div class="field">
                                        <label style="direction:rtl;font-family: persian">شماره تماس</label>
                                        <input  name="phonenumber" class="uk-input uk-form-width-medium" style="font-family:latin" type="text">

                                </div>
                                <div class="required field">
                                        <label style="direction:rtl;font-family: persian">نام و نام خانوادگی</label>
                                        <input name="full_name" class="uk-input uk-form-width-medium" style="font-family:persian;direction:rtl" type="text">

                                </div>
                        </div>
                        <div class="required field">
                                <label style="direction:rtl;font-family: persian">آدرس منزل</label>
                                <textarea name="address" class="uk-textarea" rows="3" style="font-family:persian;direction:rtl"></textarea>
                        </div>
                        <hr class="uk-divider-icon uk-margin-bottom uk-margin-top" />
                        <div class="three fields">
                                <div class="required field">
                                        <label style="direction:rtl;font-family: persian">تکرار رمز عبور</label>
                                        <input name="password2" class="uk-input uk-form-width-medium" style="font-family:latin;direction:rtl" type="password">

                                </div>

                                <div class="required field">
                                        <label style="direction:rtl;font-family: persian">رمز عبور</label>
                                        <input name="password1" class="uk-input uk-form-width-medium" style="font-family:latin;direction:rtl" type="password">

                                </div>
                                <div class="required field">
                                        <label style="direction:rtl;font-family: persian">شناسه کاربری</label>
                                        <input name="username" class="uk-input uk-form-width-medium" style="font-family:latin" type="text">

                                </div>
                        </div>
                        <div class="uk-margin-bottom uk-margin-top" style="text-align: center">
                                <button type="submit" style="font-size: .8em ;font-family:persian" class="uk-align-center primary ui button ">ثبت نام
                                </button>
                        </div>

                </form>
                </div>
        </div>

</section>


{% include "footer.html" %}
{% endblock %}
