{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.4 -->
    <link rel="stylesheet" href="{% static 'fa/bootstrap/css/bootstrap.min.css' %}" >
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'fa/dist/css/font-awesome.min.css' %}">
    <!-- Ionicons 2.0.0 -->
    <link rel="stylesheet" href="{% static 'fa/dist/css/ionicons.min.css' %}" >
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'fa/dist/css/AdminLTE.min.css' %}">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{% static 'fa/dist/css/skins/_all-skins.min.css' %}">

    <!-- iCheck -->
    <link rel="stylesheet" href="{% static 'shared/plugins/iCheck/flat/red.css' %}">
    <!-- Morris chart -->
    <!-- jvectormap -->
    <link rel="stylesheet" href="{% static 'shared/plugins/jvectormap/jquery-jvectormap-1.2.2.css' %}" >
    <!-- Date Picker -->
    <link rel="stylesheet" href= "{% static 'shared/plugins/datepicker/datepicker3.css' %}" >
    <!-- Daterange picker -->
    <link rel="stylesheet" href= "{% static 'shared/plugins/daterangepicker/daterangepicker-bs3.css' %}" >
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href= "{% static 'shared/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css' %}" >

    <link rel="stylesheet" href= "{% static 'fa/dist/fonts/fonts-fa.css' %}" >
    <link rel="stylesheet" href=  "{% static 'fa/dist/css/bootstrap-rtl.min.css' %}" >
    {% block stylesheets %}
    {% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src= "{% static 'fa/dist/js/html5shiv.min.js' %}"></script>
        <script src= "{% static 'fa/dist/js/respond.min.js' %}"></script>
    <![endif]-->
  </head>
  <body class="skin-yellow sidebar-mini">
    <div class="wrapper">

      {% include 'fa-administrator/fa-admin-includes/header.html' %}
      <!-- Left side column. contains the logo and sidebar -->
     {% include 'fa-administrator/fa-admin-includes/mainsidebar.html' %}


      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          {% block contenheader%}
          {% endblock %}

        </section>

        <!-- Main content -->
        <section class="content">
          <!-- Small boxes (Stat box) -->
          {% block content%}
          {% endblock %}

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
      {% include 'fa-administrator/fa-admin-includes/footer.html' %}
      <!-- Control Sidebar -->
    </div><!-- ./wrapper -->

    <!-- jQuery 2.1.4 -->
     <script src= "{% static 'shared/plugins/jQuery/jquery-3.2.1.min.js' %}" ></script>
    <!-- jQuery UI 1.11.4 -->
    <script src= "{% static 'fa/dist/js/jquery-ui.min.js' %}" ></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
      $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.4 -->
    <script src= "{% static 'fa/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- Morris.js charts -->
    <script src= "{% static 'fa/dist/js/raphael-min.js' %}" ></script>
    <!-- Sparkline -->
    <script src= "{% static 'shared/plugins/sparkline/jquery.sparkline.min.js' %}" ></script>
    <!-- jvectormap -->
    <script src= "{% static 'shared/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js' %}" ></script>
    <script src= "{% static 'shared/plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %}"  ></script>
    <!-- jQue
    ry Knob Chart -->
    <script src= "{% static 'shared/plugins/knob/jquery.knob.js' %}" ></script>
    <!-- daterangepicker -->
    <script src= "{% static 'fa/dist/js/moment.min.js' %}" ></script>
    <script src= "{% static 'shared/plugins/daterangepicker/daterangepicker.js' %}" ></script>
    <!-- datepicker -->
    <script src= "{% static 'shared/plugins/datepicker/bootstrap-datepicker.js' %}" ></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src= "{% static 'shared/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js' %}" ></script>
    <!-- Slimscroll -->
    <script src= "{% static 'shared/plugins/slimScroll/jquery.slimscroll.min.js' %}" ></script>
    <!-- FastClick -->
    <script src= "{% static 'shared/plugins/fastclick/fastclick.min.js' %}" ></script>
    <!-- AdminLTE App -->
    <script src= "{% static 'fa/dist/js/app.min.js' %}" ></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <!-- AdminLTE for demo purposes -->
    <script src= "{% static 'fa/dist/js/demo.js' %}" ></script>
    {% block scripts %}
    {% endblock %}

  </body>
</html>
