{% extends 'fa-administrator/base.html' %}
{% load static %}
 {% load i18n %}
    {% block stylesheets %}
    {% endblock %}
  <!-- Content Header (Page header) -->
{% block contenheader %}
        <section class="content-header">
            <h1>{{translation}}</h1>
          <h1>
            پیشخوان
            <small>پنل مدیریت</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> خانه</a></li>
            <li class="active">پیشخوان</li>
          </ol>
        </section>
{% endblock %}
          {% block content %}
{% if partner == 'False' %}
          <div class="row">
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-aqua">
                <div class="inner">
                  <h3>{{commited_num_in}}</h3>
                  <p>سفارشات پرداخت شده داخلی</p>
                </div>
                <div class="icon">
                  <i class="fa fa-exchange" aria-hidden="true"></i>
                </div>
                <a href="/administrator/transaction/in/" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i></a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-green">
                <div class="inner">
                  <h3>{{commited_num_out}}</h3>
                  <p>سفارشات پرداخت شده خارجی</p>
                </div>
                <div class="icon">
                  <i class="fa fa-suitcase" aria-hidden="true"></i>
                </div>
                <a href="/administrator/transaction/out/" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i></a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-yellow">
                <div class="inner">
                  <h3>{{partners_num}}</h3>
                  <p>کاربر مشارکت کننده</p>
                </div>
                <div class="icon">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <a href="group/" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i></a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-red">
                <div class="inner">
                  <h3>{{all_users_num}}</h3>
                  <p> کاربران ثبت نام کرده </p>
                </div>
                <div class="icon">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <a href="user" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i></a>
              </div>
            </div><!-- ./col -->

          </div><!-- /.row -->
{% endif %}
          <!-- Main row -->
          <div class="row">
            <!-- Left col -->
            <section class="col-lg-5 connectedSortable">
              <!-- Custom tabs (Charts with tabs)-->
              <!--<div class="nav-tabs-custom">-->
                <!--&lt;!&ndash; Tabs within a box &ndash;&gt;-->
                <!--<ul class="nav nav-tabs pull-right">-->
                  <!--<li class="active"><a href="#revenue-chart" data-toggle="tab">Area</a></li>-->
                  <!--<li><a href="#sales-chart" data-toggle="tab">Donut</a></li>-->
                  <!--<li class="pull-left header"><i class="fa fa-inbox"></i> Sales</li>-->
                <!--</ul>-->
                <!--<div class="tab-content no-padding">-->
                  <!--&lt;!&ndash; Morris chart - Sales &ndash;&gt;-->
                  <!--<div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 300px;"></div>-->
                  <!--<div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;"></div>-->
                <!--</div>-->
              <!--</div>&lt;!&ndash; /.nav-tabs-custom &ndash;&gt;-->



              <!-- Chat box -->
              <!--<div class="box box-success">-->
                <!--<div class="box-header">-->
                  <!--<i class="fa fa-comments-o"></i>-->
                  <!--<h3 class="box-title">Chat</h3>-->
                  <!--<div class="box-tools pull-left" data-toggle="tooltip" title="Status">-->
                    <!--<div class="btn-group" data-toggle="btn-toggle" >-->
                      <!--<button type="button" class="btn btn-default btn-sm active"><i class="fa fa-square text-green"></i></button>-->
                      <!--<button type="button" class="btn btn-default btn-sm"><i class="fa fa-square text-red"></i></button>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="box-body chat" id="chat-box">-->
                  <!--&lt;!&ndash; chat item &ndash;&gt;-->
                  <!--<div class="item">-->
                    <!--<img src="{% static 'fa/dist/img/user4-128x128.jpg' %}" alt="user image" class="online">-->
                    <!--<p class="message">-->
                      <!--<a href="#" class="name">-->
                        <!--<small class="text-muted pull-left"><i class="fa fa-clock-o"></i> 2:15</small>-->
                        <!--Mike Doe-->
                      <!--</a>-->
                      <!--I would like to meet you to discuss the latest news about-->
                      <!--the arrival of the new theme. They say it is going to be one the-->
                      <!--best themes on the market-->
                    <!--</p>-->
                    <!--<div class="attachment">-->
                      <!--<h4>Attachments:</h4>-->
                      <!--<p class="filename">-->
                        <!--Theme-thumbnail-image.jpg-->
                      <!--</p>-->
                      <!--<div class="pull-left">-->
                        <!--<button class="btn btn-primary btn-sm btn-flat">Open</button>-->
                      <!--</div>-->
                    <!--</div>&lt;!&ndash; /.attachment &ndash;&gt;-->
                  <!--</div>&lt;!&ndash; /.item &ndash;&gt;-->
                  <!--&lt;!&ndash; chat item &ndash;&gt;-->
                  <!--<div class="item">-->
                    <!--<img src= "{% static 'fa/dist/img/user3-128x128.jpg' %}" alt="user image" class="offline">-->
                    <!--<p class="message">-->
                      <!--<a href="#" class="name">-->
                        <!--<small class="text-muted pull-left"><i class="fa fa-clock-o"></i> 5:15</small>-->
                       <!--مجتبی کوپائی-->
                      <!--</a>-->
                      <!--I would like to meet you to discuss the latest news about-->
                      <!--the arrival of the new theme. They say it is going to be one the-->
                      <!--best themes on the market-->
                    <!--</p>-->
                  <!--</div>&lt;!&ndash; /.item &ndash;&gt;-->
                  <!--&lt;!&ndash; chat item &ndash;&gt;-->
                  <!--<div class="item">-->
                    <!--<img src="{% static 'fa/dist/img/user2-160x160.jpg' %}" alt="user image" class="offline">-->
                    <!--<p class="message">-->
                      <!--<a href="#" class="name">-->
                        <!--<small class="text-muted pull-left"><i class="fa fa-clock-o"></i> 5:30</small>-->
                        <!--Susan Doe-->
                      <!--</a>-->
                      <!--I would like to meet you to discuss the latest news about-->
                      <!--the arrival of the new theme. They say it is going to be one the-->
                      <!--best themes on the market-->
                    <!--</p>-->
                  <!--</div>&lt;!&ndash; /.item &ndash;&gt;-->
                <!--</div>&lt;!&ndash; /.chat &ndash;&gt;-->
                <!--<div class="box-footer">-->
                  <!--<div class="input-group">-->
                    <!--<input class="form-control" placeholder="Type message...">-->
                    <!--<div class="input-group-btn">-->
                      <!--<button class="btn btn-success"><i class="fa fa-plus"></i></button>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>&lt;!&ndash; /.box (chat box) &ndash;&gt;-->

              <!-- TO DO List -->
              <!--<div class="box box-primary">-->
                <!--<div class="box-header">-->
                  <!--<i class="ion ion-clipboard"></i>-->
                  <!--<h3 class="box-title">To Do List</h3>-->
                  <!--<div class="box-tools pull-left">-->
                    <!--<ul class="pagination pagination-sm inline">-->
                      <!--<li><a href="#">&laquo;</a></li>-->
                      <!--<li><a href="#">1</a></li>-->
                      <!--<li><a href="#">2</a></li>-->
                      <!--<li><a href="#">3</a></li>-->
                      <!--<li><a href="#">&raquo;</a></li>-->
                    <!--</ul>-->
                  <!--</div>-->
                <!--</div>&lt;!&ndash; /.box-header &ndash;&gt;-->
                <!--<div class="box-body">-->
                  <!--<ul class="todo-list">-->
                    <!--<li>-->
                      <!--&lt;!&ndash; drag handle &ndash;&gt;-->
                      <!--<span class="handle">-->
                        <!--<i class="fa fa-ellipsis-v"></i>-->
                        <!--<i class="fa fa-ellipsis-v"></i>-->
                      <!--</span>-->
                      <!--&lt;!&ndash; checkbox &ndash;&gt;-->
                      <!--<input type="checkbox" value="" name="">-->
                      <!--&lt;!&ndash; todo text &ndash;&gt;-->
                      <!--<span class="text">Design a nice theme</span>-->
                      <!--&lt;!&ndash; Emphasis label &ndash;&gt;-->
                      <!--<small class="label label-danger"><i class="fa fa-clock-o"></i> 2 mins</small>-->
                      <!--&lt;!&ndash; General tools such as edit or delete&ndash;&gt;-->
                      <!--<div class="tools">-->
                        <!--<i class="fa fa-edit"></i>-->
                        <!--<i class="fa fa-trash-o"></i>-->
                      <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                      <!--<span class="handle">-->
                        <!--<i class="fa fa-ellipsis-v"></i>-->
                        <!--<i class="fa fa-ellipsis-v"></i>-->
                      <!--</span>-->
                      <!--<input type="checkbox" value="" name="">-->
                      <!--<span class="text">Make the theme responsive</span>-->
                      <!--<small class="label label-info"><i class="fa fa-clock-o"></i> 4 hours</small>-->
                      <!--<div class="tools">-->
                        <!--<i class="fa fa-edit"></i>-->
                        <!--<i class="fa fa-trash-o"></i>-->
                      <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                      <!--<span class="handle">-->
                        <!--<i class="fa fa-ellipsis-v"></i>-->
                        <!--<i class="fa fa-ellipsis-v"></i>-->
                      <!--</span>-->
                      <!--<input type="checkbox" value="" name="">-->
                      <!--<span class="text">Let theme shine like a star</span>-->
                      <!--<small class="label label-warning"><i class="fa fa-clock-o"></i> 1 day</small>-->
                      <!--<div class="tools">-->
                        <!--<i class="fa fa-edit"></i>-->
                        <!--<i class="fa fa-trash-o"></i>-->
                      <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                      <!--<span class="handle">-->
                        <!--<i class="fa fa-ellipsis-v"></i>-->
                        <!--<i class="fa fa-ellipsis-v"></i>-->
                      <!--</span>-->
                      <!--<input type="checkbox" value="" name="">-->
                      <!--<span class="text">Let theme shine like a star</span>-->
                      <!--<small class="label label-success"><i class="fa fa-clock-o"></i> 3 days</small>-->
                      <!--<div class="tools">-->
                        <!--<i class="fa fa-edit"></i>-->
                        <!--<i class="fa fa-trash-o"></i>-->
                      <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                      <!--<span class="handle">-->
                        <!--<i class="fa fa-ellipsis-v"></i>-->
                        <!--<i class="fa fa-ellipsis-v"></i>-->
                      <!--</span>-->
                      <!--<input type="checkbox" value="" name="">-->
                      <!--<span class="text">Check your messages and notifications</span>-->
                      <!--<small class="label label-primary"><i class="fa fa-clock-o"></i> 1 week</small>-->
                      <!--<div class="tools">-->
                        <!--<i class="fa fa-edit"></i>-->
                        <!--<i class="fa fa-trash-o"></i>-->
                      <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                      <!--<span class="handle">-->
                        <!--<i class="fa fa-ellipsis-v"></i>-->
                        <!--<i class="fa fa-ellipsis-v"></i>-->
                      <!--</span>-->
                      <!--<input type="checkbox" value="" name="">-->
                      <!--<span class="text">Let theme shine like a star</span>-->
                      <!--<small class="label label-default"><i class="fa fa-clock-o"></i> 1 month</small>-->
                      <!--<div class="tools">-->
                        <!--<i class="fa fa-edit"></i>-->
                        <!--<i class="fa fa-trash-o"></i>-->
                      <!--</div>-->
                    <!--</li>-->
                  <!--</ul>-->
                <!--</div>&lt;!&ndash; /.box-body &ndash;&gt;-->
                <!--<div class="box-footer clearfix no-border">-->
                  <!--<button class="btn btn-default pull-left"><i class="fa fa-plus"></i> Add item</button>-->
                <!--</div>-->
              <!--</div>&lt;!&ndash; /.box &ndash;&gt;-->
<div>
          <!-- Info Boxes Style 2 -->
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-certificate" aria-hidden="true"></i></span>

            <div class="info-box-content">
                    <div class="col-sm-5">
              <span class="info-box-text">کاربران</span>
              <span class="info-box-number"> {{users_num}} نفر </span>
                        </div>
                    <div class="col-sm-5">
              <span class="info-box-text">ادمین ها</span>
              <span class="info-box-number">{{superusers_num}} نفر</span>
                        </div>

            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
          <div class="info-box bg-yellow">
            <span class="info-box-icon"><i class="fa fa-certificate" aria-hidden="true"></i></span>

            <div class="info-box-content">
              <div class="col-sm-5">
              <span class="info-box-text">فرش ها</span>
              <span class="info-box-number">{{carpets_num}} تخته</span>
                        </div>
                    <div class="col-sm-5">
              <span class="info-box-text">مورد تایید ادمین</span>
              <span class="info-box-number">{{confirmed_carpets_num}} تخته</span>
                        </div>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
          <div class="info-box bg-red">
            <span class="info-box-icon"><i class="fa fa-certificate" aria-hidden="true"></i></span>

            <div class="info-box-content">
              <div class="col-sm-5">
              <span class="info-box-text">تابلو فرش ها</span>
              <span class="info-box-number">{{tableaus_num}} تخته</span>
                        </div>
                    <div class="col-sm-5">
              <span class="info-box-text">مورد تایید ادمین</span>
              <span class="info-box-number">{{confirmed_tableaus_num}} تخته</span>
                        </div>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
          <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="fa fa-certificate" aria-hidden="true"></i></span>

            <div class="info-box-content">
              <div class="col-sm-5">
              <span class="info-box-text">همه محصولات</span>
              <span class="info-box-number">{{products_num}} عدد</span>
                        </div>
                    <div class="col-sm-5">
              <span class="info-box-text">مورد تایید ادمین</span>
              <span class="info-box-number">{{confirmed_products_num}} عدد</span>
                        </div>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
 </div>
                <!--{% if not partner %}-->
                <!--<h2>-->
        <!--مشارکت کننده برتر-->
        <!--<small>آیتم های پر فروش</small>-->
      <!--</h2>-->
          <!--<div class="row">-->
        <!--<div class="col-xs-6">-->
          <!--&lt;!&ndash; small box &ndash;&gt;-->
          <!--<div class="small-box bg-aqua">-->
            <!--<div class="inner">-->
              <!--<h4>{{max_owner}}<sup style="font-size: 20px"></sup></h4>-->
              <!--<p>{{max_owner.profile.profile_fullname}}</p>-->
                <!--<div class="icon">-->
              <!--<i class="fa fa-star" aria-hidden="true"></i>-->
            <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
          <!--</div>-->
                <!--{% endif %}-->
              <!-- quick email widget -->


            </section><!-- /.Left col -->
            <!-- right col (We are only adding the ID to make the widgets sortable)-->
            <section class="col-lg-7 connectedSortable">

              <!-- Map box -->
              <!--<div class="box box-solid bg-light-blue-gradient">-->
                <!--<div class="box-header">-->
                  <!--&lt;!&ndash; tools box &ndash;&gt;-->
                  <!--<div class="pull-left box-tools">-->
                    <!--<button class="btn btn-primary btn-sm daterange pull-left" data-toggle="tooltip" title="Date range"><i class="fa fa-calendar"></i></button>-->
                    <!--<button class="btn btn-primary btn-sm pull-left" data-widget="collapse" data-toggle="tooltip" title="Collapse" style="margin-right: 5px;"><i class="fa fa-minus"></i></button>-->
                  <!--</div>&lt;!&ndash; /. tools &ndash;&gt;-->

                  <!--<i class="fa fa-map-marker"></i>-->
                  <!--<h3 class="box-title">-->
                    <!--Visitors-->
                  <!--</h3>-->
                <!--</div>-->
                <!--<div class="box-body">-->
                  <!--<div id="world-map" style="height: 250px; width: 100%;"></div>-->
                <!--</div>&lt;!&ndash; /.box-body&ndash;&gt;-->
                <!--<div class="box-footer no-border">-->
                  <!--<div class="row">-->
                    <!--<div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">-->
                      <!--<div id="sparkline-1"></div>-->
                      <!--<div class="knob-label">Visitors</div>-->
                    <!--</div>&lt;!&ndash; ./col &ndash;&gt;-->
                    <!--<div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">-->
                      <!--<div id="sparkline-2"></div>-->
                      <!--<div class="knob-label">Online</div>-->
                    <!--</div>&lt;!&ndash; ./col &ndash;&gt;-->
                    <!--<div class="col-xs-4 text-center">-->
                      <!--<div id="sparkline-3"></div>-->
                      <!--<div class="knob-label">Exists</div>-->
                    <!--</div>&lt;!&ndash; ./col &ndash;&gt;-->
                  <!--</div>&lt;!&ndash; /.row &ndash;&gt;-->
                <!--</div>-->
              <!--</div>-->
              <!-- /.box -->

              <!-- solid sales graph -->
              <!--<div class="box box-solid bg-teal-gradient">-->
                <!--<div class="box-header">-->
                  <!--<i class="fa fa-th"></i>-->
                  <!--<h3 class="box-title">Sales Graph</h3>-->
                  <!--<div class="box-tools pull-left">-->
                    <!--<button class="btn bg-teal btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>-->
                    <!--<button class="btn bg-teal btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="box-body border-radius-none">-->
                  <!--<div class="chart" id="line-chart" style="height: 250px;"></div>-->
                <!--</div>&lt;!&ndash; /.box-body &ndash;&gt;-->
                <!--<div class="box-footer no-border">-->
                  <!--<div class="row">-->
                    <!--<div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">-->
                      <!--<input type="text" class="knob" data-readonly="true" value="20" data-width="60" data-height="60" data-fgColor="#39CCCC">-->
                      <!--<div class="knob-label">Mail-Orders</div>-->
                    <!--</div>&lt;!&ndash; ./col &ndash;&gt;-->
                    <!--<div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">-->
                      <!--<input type="text" class="knob" data-readonly="true" value="50" data-width="60" data-height="60" data-fgColor="#39CCCC">-->
                      <!--<div class="knob-label">Online</div>-->
                    <!--</div>&lt;!&ndash; ./col &ndash;&gt;-->
                    <!--<div class="col-xs-4 text-center">-->
                      <!--<input type="text" class="knob" data-readonly="true" value="30" data-width="60" data-height="60" data-fgColor="#39CCCC">-->
                      <!--<div class="knob-label">In-Store</div>-->
                    <!--</div>&lt;!&ndash; ./col &ndash;&gt;-->
                  <!--</div>&lt;!&ndash; /.row &ndash;&gt;-->
                <!--</div>&lt;!&ndash; /.box-footer &ndash;&gt;-->
              <!--</div>&lt;!&ndash; /.box &ndash;&gt;-->

              <!-- Calendar -->
                <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">خلاصه گزارش فروش</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
            <div class="row">
                <!--<div class="col-md-9 col-sm-8">-->
                <!--<div class="pad">-->
                <!--&lt;!&ndash; Map will be created here &ndash;&gt;-->
                <!--<div id="world-map-markers" style="height: 325px;"></div>-->
                <!--</div>-->
                <!--</div>-->
                <!-- /.col -->
                <div class="col-md-4 col-sm-4">
                    <div class="pad box-pane-right bg-green" style="min-height: 280px">
                        <div class="description-block margin-bottom">
                            <div class="row">
                                <div class="sparkbar pad" data-color="#fff">همه محصولات</div>
                                <h5 class="description-header">{{items_num}}</h5>
                                <span class="description-text">فروش</span>
                            </div>
                            <br>
                            {% if items_most_sell%}
                            <div class="row">
                                <div class="sparkbar pad" data-color="#fff">محبوبترین</div>
                                <h4 class="description-header">{{items_most_sell.title}}</h4>
                                <h5 class="description-header">
                                                                دسته: {{items_most_sell.category.title}}
                                </h5>
                            </div>
                            {% endif %}
                        </div>
                        <!-- /.description-block -->

                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="pad box-pane-right bg-green" style="min-height: 280px">
                        <div class="description-block margin-bottom">
                            <div class="row">
                                <div class="sparkbar pad" data-color="#fff">فرش ها</div>
                                <h5 class="description-header">{{carpet_items_num}}</h5>
                                <span class="description-text">فروش</span>
                            </div>
                        <br>
                            {% if carpets_most_sell %}
                            <div class="row">
                                <div class="sparkbar pad" data-color="#fff">محبوبترین</div>
                                <h4 class="description-header">{{carpets_most_sell.title}}</h4>
                                <h5 class="description-header">
                                                            دسته: {{carpets_most_sell.category.title}}
                                </h5>

                            </div>
                            {% endif %}
                        </div>
                        <!-- /.description-block -->
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="pad box-pane-right bg-green" style="min-height: 280px">
                        <div class="description-block margin-bottom">
                            <div class="row">
                                <div class="sparkbar pad" data-color="#fff">تابلو فرش ها</div>
                                <h5 class="description-header">{{tableau_items_num}}</h5>
                                <span class="description-text">فروش</span>
                            </div>
                            <br>
                            {% if tableaus_most_sell %}
                            <div class="row">
                                <div class="sparkbar pad" data-color="#fff">محبوبترین</div>
                                <h4 class="description-header">{{tableaus_most_sell.title}}</h4>
                                <h5 class="description-header">
                                                                دسته: {{tableaus_most_sell.category.title}}
                                </h5>

                            </div>
                            {% endif %}
                        </div>
                        <!-- /.description-block -->
                  </div>
                  </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.box-body -->
          </div>
                              <!--<div class="box box-info">-->
                <!--<div class="box-header">-->
                  <!--<i class="fa fa-envelope"></i>-->
                  <!--<h3 class="box-title">ایمیل سریع</h3>-->
                  <!--&lt;!&ndash; tools box &ndash;&gt;-->
                  <!--<div class="pull-left box-tools">-->
                    <!--<button class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>-->
                  <!--</div>&lt;!&ndash; /. tools &ndash;&gt;-->
                <!--</div>-->
                <!--<div class="box-body" id="b">-->
                  <!--<form class="email-form">-->
                      <!--{% csrf_token %}-->
                    <!--<div class="form-group">-->
                      <!--<input type="email" class="form-control" name="emailto" placeholder="گیرنده:">-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                      <!--<input type="text" class="form-control" name="subject" placeholder="موضوع:">-->
                    <!--</div>-->
                    <!--<div>-->
                      <!--<textarea name="body" class="textarea" placeholder="متن ایمیل:" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>-->
                    <!--</div>-->
                      <!--<div class="box-footer clearfix">-->
                  <!--<button class="pull-right btn btn-default" type="submit" id="sendEmail">ارسال <i class="fa fa-arrow-circle-left"></i></button>-->
                <!--</div>-->
                      <!--<div id="report"></div>-->
                  <!--</form>-->
                <!--</div>-->

              <!--</div>-->
              <!--<div class="box box-solid bg-green-gradient">-->
                <!--<div class="box-header">-->
                  <!--<i class="fa fa-calendar"></i>-->
                  <!--<h3 class="box-title">Calendar</h3>-->
                  <!--&lt;!&ndash; tools box &ndash;&gt;-->
                  <!--<div class="pull-left box-tools">-->
                    <!--&lt;!&ndash; button with a dropdown &ndash;&gt;-->
                    <!--<div class="btn-group">-->
                      <!--<button class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i></button>-->
                      <!--<ul class="dropdown-menu pull-left" role="menu">-->
                        <!--<li><a href="#">Add new event</a></li>-->
                        <!--<li><a href="#">Clear events</a></li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li><a href="#">View calendar</a></li>-->
                      <!--</ul>-->
                    <!--</div>-->
                    <!--<button class="btn btn-success btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>-->
                    <!--<button class="btn btn-success btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>-->
                  <!--</div>&lt;!&ndash; /. tools &ndash;&gt;-->
                <!--</div>&lt;!&ndash; /.box-header &ndash;&gt;-->
                <!--<div class="box-body no-padding">-->
                  <!--&lt;!&ndash;The calendar &ndash;&gt;-->
                  <!--<div id="calendar" style="width: 100%"></div>-->
                <!--</div>&lt;!&ndash; /.box-body &ndash;&gt;-->
                <!--<div class="box-footer text-black">-->
                  <!--<div class="row">-->
                    <!--<div class="col-sm-6">-->
                      <!--&lt;!&ndash; Progress bars &ndash;&gt;-->
                      <!--<div class="clearfix">-->
                        <!--<span class="pull-right">Task #1</span>-->
                        <!--<small class="pull-left">90%</small>-->
                      <!--</div>-->
                      <!--<div class="progress xs">-->
                        <!--<div class="progress-bar progress-bar-green" style="width: 90%;"></div>-->
                      <!--</div>-->

                      <!--<div class="clearfix">-->
                        <!--<span class="pull-right">Task #2</span>-->
                        <!--<small class="pull-left">70%</small>-->
                      <!--</div>-->
                      <!--<div class="progress xs">-->
                        <!--<div class="progress-bar progress-bar-green" style="width: 70%;"></div>-->
                      <!--</div>-->
                    <!--</div>&lt;!&ndash; /.col &ndash;&gt;-->
                    <!--<div class="col-sm-6">-->
                      <!--<div class="clearfix">-->
                        <!--<span class="pull-right">Task #3</span>-->
                        <!--<small class="pull-left">60%</small>-->
                      <!--</div>-->
                      <!--<div class="progress xs">-->
                        <!--<div class="progress-bar progress-bar-green" style="width: 60%;"></div>-->
                      <!--</div>-->

                      <!--<div class="clearfix">-->
                        <!--<span class="pull-right">Task #4</span>-->
                        <!--<small class="pull-left">40%</small>-->
                      <!--</div>-->
                      <!--<div class="progress xs">-->
                        <!--<div class="progress-bar progress-bar-green" style="width: 40%;"></div>-->
                      <!--</div>-->
                    <!--</div>&lt;!&ndash; /.col &ndash;&gt;-->
                  <!--</div>&lt;!&ndash; /.row &ndash;&gt;-->
                <!--</div>-->
              <!--</div>&lt;!&ndash; /.box &ndash;&gt;-->

            </section><!-- right col -->

              <div style="width:920px;">
    <hr><hr>

    <div class="module" style="clear: both;">
        <hr>
        <table style="width: 100%;">
            <strong style="padding-right: 25px;">
            {% trans "نمودار ترافیک سایت" %} ( <a href="javascript:loadTrafficGraph(7);">{% trans "هفته" %}</a> | <a href="javascript:loadTrafficGraph(30);">{% trans "ماه" %}</a> | <a href="javascript:loadTrafficGraph(365);">{% trans "سال" %}</a> )</caption>
            </strong>
        </table>

        <div style="padding: 15px;">
            <div id="trafficgraph" style="width: 80%; height: 250px; float:center;"></div>
        </div>
    </div>

    {% for plugin in plugins %}
      <div class="module" style="float: left; width: 450px; {% cycle 'clear: both;' 'margin-left: 16px;' %}">
         {{ plugin.render }}
      </div>
    {% endfor %}
</div>
          </div><!-- /.row (main row) -->

        {% endblock %}
{% block scripts %}
<!--[if IE]><script language="javascript" type="text/javascript" src="{% static "request/js/excanvas.min.js" %}"></script><![endif]-->
<script type="text/javascript" src="{% static "request/js/jquery-1.4.2.min.js" %}"></script>
<script type="text/javascript" src="{% static "request/js/jquery.flot.js" %}"></script>
<script type="text/javascript" src="{% static "request/js/jquery.timeago.js" %}"></script>
<script type="text/javascript" src="{% static "request/js/request.js" %}"></script>

{% if request and request.user %}
    <script type="text/javascript">
    function loadTrafficGraph(days) {
        if (days == undefined) {
            path = "{% url "admin:request_request_traffic" %}";
        } else {
            path = "{% url "admin:request_request_traffic" %}?days=" + days;
        }
        $.getJSON(path, function(data) {
            trafficGraph($("#trafficgraph"), data);
        });
    }
    $(document).ready(function(){
        loadTrafficGraph();
    });
    </script>
{% endif %}


<!--<script>-->
<!--$(function () {-->
    <!--$("#b").on("submit", ".email-form", function () {-->
            <!--var form = $(this);-->
            <!--$.ajax({-->
              <!--url: '/send_email/',-->
              <!--data: form.serialize(),-->
              <!--type: 'get',-->
              <!--dataType: 'json',-->
              <!--success: function (data) {-->

                  <!--alert(data.message)-->
                  <!--if (data.message == 'ایمیل شما با موفقیت ارسال شد.')-->
                  <!--{-->
                  <!--$("#report").html("<div class='alert alert-success'>" + data.message + "</div>")-->
                  <!--}-->
                  <!--else-->
                  <!--{-->
                  <!--$("#report").html("<div class='alert alert-danger'>" + data.message + "</div>")-->
                  <!--}-->
              <!--}-->
            <!--});-->
            <!--return false;-->
            <!--});-->
<!--});-->
<!--</script>-->
  {% endblock %}
