{% load static %}
<form method="post" enctype="multipart/form-data" action="{% url 'review_product_update' form.instance.pk %}" class="js-comment-update-form">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">به روز رسانی داده های کامنت</h4>
  </div>
  <div class="modal-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">فرم کامنت</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>

                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div>
                                {% include 'fa-administrator/fa-comments/includes/partial_comment_form.html' %}
                            </div>
                            <div class="col-xs-12 col-sm-12 progress-container">
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-success" style="width:0%">

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>

        </div>
        </div>

  </div>

</form>
<script src="{% static 'fa/static/select2-4.0.3/dist/js/select2.min.js' %}"></script>

<script>

        $(function () {
            $('#id_review_user').select2({
                placeholder: 'شروع به تایپ حروف نام کاربری کنید...',
                dir:"RTL",
                language: {
                    noResults: function (params) {
                      return "نتیجه ای یافت نشد.";
                    }
                },
                escapeMarkup: function (markup) {
                  return markup;
                },
                ajax: {
                url: function (params) {

                return '/api/get_users/' + params.term;
            },
            dataType: 'json',
            delay: 250,
            processResults: function (data) {
                return {
                    results: data
                };
            },
            cache: true
            }
            });




        })
    </script>

<script>

        $(function () {
            $('#id_review_product').select2({
                placeholder: 'شروع به تایپ حروف نام کاربری کنید...',
                dir:"RTL",
                language: {
                    noResults: function (params) {
                      return "نتیجه ای یافت نشد.";
                    }
                },
                escapeMarkup: function (markup) {
                  return markup;
                },
                ajax: {
                url: function (params) {

                return '/api/get_products/' + params.term;
            },
            dataType: 'json',
            delay: 250,
            processResults: function (data) {
                return {
                    results: data
                };
            },
            cache: true
            }
            });




        })
    </script>
